/*
 * 列表Table
 */
#listTable
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #69c;
}
#listTable th
{
    padding: 12px 17px 12px 17px;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px dashed #69c;
}
/*
 * odd : 单数
 * even : 偶数
 */
#listTable tr:nth-child(even)
{
    background: #e8edff;
}
/* for IE的效果 */
#listTable tr.even {
    background: #e8edff;
}


#listTable td
{
    padding: 7px 17px 7px 17px;
    color: #000000;
}

#listTable tbody tr:hover td
{
    color: #000000;
    background: #d0dafd;
}
