#cpanel_IE {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center;
}
#cpanel_IE.favorarea{
	height:468px;
	/*overflow: auto;*/
}
#cpanel_IE DIV.icon {
	MARGIN: 3px;
	position:relative;
}
#cpanel_IE DIV.icon A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ddd 1px solid; WIDTH: 98px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 158px; TEXT-DECORATION: none
}
#cpanel_IE DIV.icon A:link {
	COLOR: #808080
}
#cpanel_IE DIV.icon A:hover {
	BORDER-RIGHT: #c24733 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c24733 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c24733 1px solid; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #c24733 1px solid; BACKGROUND-COLOR: #f1e8e6
}
#cpanel_IE DIV.icon A:active {
	COLOR: #808080
}
#cpanel_IE DIV.icon A:visited {
	COLOR: #808080
}
#cpanel_IE DIV.icon IMG {
	MARGIN-TOP: 13px;
	width: 96px;
	height: 96px;
}
#cpanel_IE DIV.icon SPAN {
	DISPLAY: block; PADDING-TOP: 3px
}
#cpanel_FF {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
#cpanel_FF DIV.icon {
	MARGIN: 3px
}
#cpanel_FF DIV.icon A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ddd 1px solid; WIDTH: 118px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 120px; TEXT-DECORATION: none
}
#cpanel_FF DIV.icon A:link {
	COLOR: #808080
}
#cpanel_FF DIV.icon A:hover {
	BORDER-RIGHT: #c24733 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c24733 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c24733 1px solid; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #c24733 1px solid; BACKGROUND-COLOR: #f1e8e6
}
#cpanel_FF DIV.icon A:active {
	COLOR: #808080
}
#cpanel_FF DIV.icon A:visited {
	COLOR: #808080
}
#cpanel_FF DIV.icon IMG {
	MARGIN-TOP: 13px;
}
#cpanel_FF DIV.icon SPAN {
	DISPLAY: block; PADDING-TOP: 3px
}
.remove_favor{
	/*border: 1px solid #999;*/
	cursor: pointer;
	position:absolute;
	right: 0px;
	width: 15px;
	height: 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 26px;
	color: #808080;
}
.remove_favor.hover{
	color: red;
}

