#cpanel_IE {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
#cpanel_IE DIV.icon {
	MARGIN: 3px
}
#cpanel_IE DIV.icon A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ddd 1px solid; WIDTH: 98px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid;  TEXT-DECORATION: none;BACKGROUND-COLOR: white;
}
#cpanel_IE DIV.icon A:link {
	COLOR: #808080
}
#cpanel_IE DIV.icon A:hover {
	BORDER-RIGHT: #c24733 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c24733 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c24733 1px solid; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #c24733 1px solid; BACKGROUND-COLOR: #f1e8e6
}
#cpanel_IE DIV.icon A:active {
	COLOR: #808080
}
#cpanel_IE DIV.icon A:visited {
	COLOR: #808080
}
#cpanel_IE DIV.icon IMG {
	MARGIN-TOP: 13px;
	width: 96px;
	height: 96px;
}
#cpanel_IE DIV.icon SPAN {
	DISPLAY: block; PADDING-TOP: 3px
}
#cpanel_FF {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
#cpanel_FF DIV.icon {
	MARGIN: 3px
}
#cpanel_FF DIV.icon A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ddd 1px solid; WIDTH: 118px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
#cpanel_FF DIV.icon A:link {
	COLOR: #808080
}
#cpanel_FF DIV.icon A:hover {
	BORDER-RIGHT: #c24733 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c24733 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c24733 1px solid; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #c24733 1px solid; BACKGROUND-COLOR: #f1e8e6
}
#cpanel_FF DIV.icon A:active {
	COLOR: #808080
}
#cpanel_FF DIV.icon A:visited {
	COLOR: #808080
}
#cpanel_FF DIV.icon IMG {
	MARGIN-TOP: 13px;
}
#cpanel_FF DIV.icon SPAN {
	DISPLAY: block; PADDING-TOP: 3px
}
