@charset "utf-8";
.nav2_bg1 {
	position: absolute;
	/*height: 160px;*/
	/*width: 50%;*/
	top: -160px;
	left: 0px;
	z-index:9999;
	/*overflow : auto; *//*撑开div IE7 IE8 Firefox Chrome Safari */
	border-radius: 0px 0px 10px 10px; /*圆角*/
	
	
	background: #399AC9; /* Old browsers */
	background: -moz-linear-gradient(top,  #399AC9 30%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#399AC9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #399AC9 30%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #399AC9 30%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #399AC9 30%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #399AC9 30%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#399AC9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	background-repeat: repeat-x; 
	
	border-width: 4px; 
	border-style: solid;
	border-color: #399AC9
}

.nav2_bg2 {
	background-repeat: no-repeat;
	height: 5;
	/*width: 100px;*/
	width: 100%;
	position: absolute;
	/*bottom: -20px;*/
	/*left : 30%;*/
	z-index:9999;
	margin-top: -15px;
}
.nav2_bg2 a {
	text-indent: -9999px;
	height: 5;
	width: 100px;
	bottom: 100px;
	z-index:9999;
}

section #cpanel_IE{
	margin: 5px 5px 10px 5px;
}

section .clear{
	height: 0px;
}

.clear{
	clear: both;
}