ul.mselect_list {
   overflow: auto;
   margin: 0px;
   padding: 0px;
   border: 1px #c0c0c0 solid;
}

ul.mselect_list li {
   list-style: none;
   margin: 0px;
   padding-left: 25px;
   cursor: pointer;
}

ul.mselect_list li:hover,
ul.mselect_list li.selected:hover {
   background-color: #efefef;
}

ul.mselect_list li.selected {
   background: url(../img/check.png) 4px center no-repeat;
}
