
/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*512megas.com */
    div.pagination {
        padding: 3px;
        margin: 3px;
        /*text-align:center;*/
        text-align:right;
		
		/*漂浮最下方*/
		position: fixed; 
		width: 1125px;
		bottom: 0; 
		z-index: 1; 
		background-color: #eee;
    }
    
    div.pagination a {
        border: 1px solid #dedfde;
        margin-right:3px;
        padding:2px 6px;

        background-position:bottom;
        text-decoration: none;

        color: #99210B;
    }
    div.pagination a:hover, div.pagination a:active {
        border: 1px solid #000;
        background-image:none;
        background-color:#777777;
        color: #fff;
    }
    div.pagination span.current {
        margin-right:3px;
        padding:2px 6px;
        
        font-weight: bold;
        color: #99210B;
    }
    div.pagination span.disabled {
        margin-right:3px;
        padding:2px 6px;
    
        color: #adaaad;
    }