/*-------SEARCH STARTS HERE -------*/

/* Search Container (default to float:right) */
#searchContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Search Button */
#searchButton { 
    display:inline-block;
    float:right;
    background:#d2e0ea url(../img/find_1.png);
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
	background-repeat: no-repeat;
}

/* Search Button Text */
#searchButton span {
    color:#445058;
    font-size:11px;
    line-height:12px;
    text-shadow:1px 1px #fff;
    padding:0px 20px 0px 2px;
    background:url(../img/searchArrow.png) no-repeat 32px 17px;
    float:right;
    width:28px;
    height:48px;
}

/* Search Box */
#searchBox {
    position:absolute;
    top:50px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Search Button has been clicked */    
#searchButton.active {
    border-radius:3px 3px 0 0;
}

#searchButton.active span {
    background-position:32px -66px;
}

/* A Line added to overlap the border */
#searchButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Search Form */
#searchForm {
    /*width:292px; */
	width: 100%;
	height: 100%;
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px 6px 6px 6px;
}

#searchForm fieldset2 {
    margin:0 0 1px 0;
    display:block;
    border:0;
    padding:0;
	text-align: right;
}

fieldset2#body {
	/*width: 600px;
	height: 300px;*/
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 1px;
    margin:0;
}

#searchForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

/* Default Input */
#searchForm input {
    /*width:90%;*/
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    /*padding:8px 8px;*/
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:14px;
}

/* Search Button */
#searchForm #btSearch {
    width:auto;
    background:#339cdf url(../img/searchbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 17px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Search clear */
#searchForm #btClear {
    width:auto;
    background:#339cdf url(../img/searchbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 0px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

select#searchData{
	width: 130px;
}

#searchBox .label_inline{
	display: inline;
}

/*#searchBox .searchData{
	width: 130px;
}*/
#searchBox .searchData{
	width: 177px;
}
#searchBox .searchdateData{
	width: 80px;
}

/*#searchBox .searchData_sel{
	width: 138px;
}*/
#searchBox .searchData_sel{
	width: 188px;
	max-width: 100%;
}

#searchBox .searchOption{
	width: 50px;
}

#searchBox form{
	text-align: left;
}

#searchBox .search_label{
	text-align: right;
	/*width: 90px;*/
	white-space: nowrap;
	color: #003399;
}

.start_end_label{
	font-size: 14px;
}

#search_table .td_search{
	text-align: left;
}

#search_table .display_none{
	display: none;
}

.twoInout_input{
    display: inline;
    width: 50px;
}

.twoInout_sel{
    width: 120px;
}