*{
	margin:0;
	padding:0;
}

html{
	/*background:url('../img/bg_tile.jpg') #161718;*/
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 30%, #006633 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(100%,#006633)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 30%,#006633 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 30%,#006633 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 30%,#006633 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 30%,#006633 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#006633',GradientType=0 ); /* IE6-9 */

	background-repeat: repeat-x; 
	height: 100%;
}

body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	/*background:#f4f4f4 url(../images/bg.gif) repeat top left;*/
	color:#333;
	text-shadow:1px 1px 1px #fff;
	overflow-y:scroll;
}
h1{
	font-size:56px;
}
h2{
	font-size:20px;
	padding:0px 0px 40px 0px;
	color:#aaa;
}
h2 span{
	color:#ffa800;
}
a{
	color:#777;
}
a:hover{
	color:#222;
}
p{
	padding:5px 0px;
}
.wrapper{
	width:960px;
	margin:0px auto 20px auto;
	min-height:0px;
}
.box{
	width:49%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
a.back{
	color:#777;
	position:fixed;
	top:5px;
	right:10px;
	text-decoration:none;
}
/* Form Style */
.form_wrapper{
	border-radius: 25px;
	background:#fff;
	border:1px solid #ddd;
	margin:0 auto;
	width:350px;
	font-size:16px;
	-moz-box-shadow:0 0 5px #ccc;
	-webkit-box-shadow:0 0 7px #ccc;
	box-shadow:0 0 7px #ccc;
	
	position:absolute;
	left:50%;
	top:55%;
	
	margin-left:-150px;
	margin-top:-150px;
	
	/*光晕渐变*/
	/* Enabling a smooth animated transition */
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
	
	/* Configure a keyframe animation for Firefox */
	-moz-animation: pulse 2s infinite;
	
	/* Configure it for Chrome and Safari */
	-webkit-animation: pulse 2s infinite;
}

/*光晕渐变*/
/* Firefox Keyframe Animation */
@-moz-keyframes pulse{
	0%{		box-shadow:0 0 1px #ccc;}
	50%{	box-shadow:0 0 15px #ccc;}
	100%{	box-shadow:0 0 1px #ccc;}
}
/*光晕渐变*/
/* Webkit keyframe animation */
@-webkit-keyframes pulse{
	0%{		box-shadow:0 0 1px #ccc;}
	50%{	box-shadow:0 0 15px #ccc;}
	100%{	box-shadow:0 0 1px #ccc;}
}

#div_loginUser{
	height: 50px;
}
#captcha{
	height:30px;
}
#vcode{
	width:100px;
}
#checkvcode{
	width:150px;
	float:left;
	padding:0px 0px 20px 0px;
}
#checkimg{
	float:left;
	padding:15px 0px 5px 0px;
}

.form_wrapper h3{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding:10px 30px 10px 30px;
	background-color:#129F97;
	color:#fff;
	font-size:25px;
	border-bottom:1px solid #ddd;
}
.form_wrapper h3#login_h3{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding:20px 30px 20px 30px;
	background-color:#006633;
	color:#fff;
	font-size:25px;
	border-bottom:1px solid #ddd;
}
.form_wrapper form{
	border-radius: 25px;
	display:none;
	background:#fff;
}
.form_wrapper .column{
	width:47%;
	float:left;
}

form.active{
	
	display:block;
}
form.login{
	width:320px;
}
form.register{
	width:550px;
}
form.forgot_password{
	width:320px;
}
.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}
.form_wrapper label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:10px 0px 0px 0px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 9px;
	display:block;
	font-size:16px;
	width:76%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
	background:#feffef;
}
.form_wrapper .bottom{
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color:#006633;
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	text-align:center;
}
.form_wrapper .bottom#login_botton{
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color:#006633;
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	text-align:center;
}
.form_wrapper .bottom a{
	display:block;
	clear:both;
	padding:10px 30px;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper a.forgot{
	float:right;
	/*font-style:italic;*/.
	line-height:24px;
	color:#ffa800;
	text-shadow:1px 1px 1px #fff;
}
.form_wrapper a.forgot:hover{
	color:#000;
}
.form_wrapper div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
	visibility:hidden;
	color:red;
	font-size:11px;
	font-style:italic;
	display:block;
	margin:4px 30px;
}
.form_wrapper input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	/*float:right;*/
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}
