
/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
    background:#333;
    width: 100%;
    border:1px solid #333;
    -background:#666;
    margin: 0 auto;
	height: 496px;

}

/* accordion header */
#accordion h2 {
    background:#ccc url(../img/h30.png);
    line-height: 18px;
    margin:0;
    padding:5px 15px;
    font-size:16px;
    font-weight:normal;
    border:1px solid #fff;
    border-bottom:1px solid #ddd;
    cursor:pointer;
}

/* currently active header */
#accordion h2.current {
    cursor:default;
    background-color:#fff;
}

/* accordion pane */
#accordion .pane {
    border:1px solid #fff;
    border-width:0 2px;
    display:none;
    height:396px;
    padding:5px;
    color:#fff;
    font-size:13px;
}

/* a title inside pane */
#accordion .pane h3 {
    font-weight:normal;
    margin:0;
    font-size:16px;
    color:#999;
}