#dashboard {
	position: relative;
	font-family: '微軟正黑體', Arial ,sans-serif;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 320px;
		background: linear-gradient(to right,#74DE9E, #7CD1FE);
	}
	p {
		font-family: '微軟正黑體', Arial ,sans-serif;
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.7em;
		color: #6e6e8b;
	}
	a, a:hover, a:focus {
		color: inherit;
		text-decoration: none;
		transition: all 0.3s;
	}
	.navbar-zone {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 998;
	}
	.navbar {
		padding: 0 0 0 250px;
		background: #fff;
		border: none;
		border-radius: 0;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
		&.active {
			padding: 0 0 0 80px;
		}
	}
	.navbar-btn {
		box-shadow: none;
		outline: none !important;
		border: none;
	}
	.line {
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed #ddd;
		margin: 40px 0;
	}
	i, span {
		display: inline-block;
	}
}

// #dashboard .wrapper {
// 	display: flex;
// 	align-items: stretch;
// }

// #dashboard #sidebar {
// 	position: fixed;
// 	min-width: 250px;
// 	max-width: 250px;
// 	height: 100%;
// 	background: #373737;
// 	color: #aaa;
// 	transition: all 0.3s;
// 	z-index: 999;
// }
// #dashboard #sidebar .sidebar-header h3 {
// 	margin: 0;
// 	padding: 15px;
// 	color: #fff;
// 	font-weight: normal;
// }
// #dashboard #sidebar .sidebar-header h3 span {
// 	font-size: 11px;
// }
// #dashboard #sidebar.active {
// 	min-width: 80px;
// 	max-width: 80px;
// 	text-align: center;
// }
// #dashboard #sidebar.active .sidebar-header h3, #dashboard #sidebar.active .CTAs {
// 	display: none;
// }

// #dashboard #sidebar.active .sidebar-header strong {
// 	display: block;
// 	padding: 10px 0 0 0;
// 	font-weight: normal;
// 	color: #fff;
// }

// #dashboard #sidebar ul li a {
// 	text-align: left;
// }

// #dashboard #sidebar.active ul li a {
// 	padding: 10px 10px 20px 10px; 
// 	text-align: center;
// 	font-size: 0.85em;
// }

// #dashboard #sidebar.active ul li a i {
// 	margin-right:  0;
// 	display: block;
// 	font-size: 1.8em;
// 	margin-bottom: 5px;
// }

// #dashboard #sidebar.active ul ul a {
// 	padding: 10px !important;
// }

// #dashboard #sidebar.active a[aria-expanded="false"]::before, #dashboard #sidebar.active a[aria-expanded="true"]::before {
// 	top: auto;
// 	bottom: 5px;
// 	right: 50%;
// 	-webkit-transform: translateX(50%);
// 	-ms-transform: translateX(50%);
// 	transform: translateX(50%);
// }

// #dashboard #sidebar .sidebar-header {
// 	padding: 0;
// }

// #dashboard #sidebar .sidebar-header strong {
// 	display: none;
// 	font-size: 1.8em;
// }

// #dashboard .components-zone {
// 	width: 90%;
// 	height: 100%;
// 	margin: 20px auto 0 auto;
// 	padding: 0 0 62px 0;
// 	overflow-x: hidden;
// 	overflow-y: scroll;
// }
// #dashboard #sidebar ul.components {
// 	margin: 0;
// 	padding: 0 0 20px 0;
// }

// #dashboard #sidebar ul li a {
// 	padding: 8px 10px;
// 	font-size: 1.1em;
// 	display: block;
// 	border-radius: 0px;
// }
// #dashboard #sidebar ul li a:hover {
// 	color: #4fb8c9;
// 	background: #fff;
// }
// #dashboard #sidebar ul li a i {
// 	margin-right: 10px;
// }

// #dashboard #sidebar ul li.active > a, a[aria-expanded="true"] {
// 	color: #fff;
// 	background: #5cbbbb;
// }

// #dashboard #sidebar ul ul li.active > a {
// 	color: #5cbbbb;
// 	background: rgba(255, 255, 255, 0.9);
// }

// #dashboard a[data-toggle="collapse"] {
// 	position: relative;
// }

// #dashboard a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
// 	content: '\e259';
// 	display: block;
// 	position: absolute;
// 	right: 20px;
// 	font-family: 'Glyphicons Halflings';
// 	font-size: 0.6em;
// }
// #dashboard a[aria-expanded="true"]::before {
// 	content: '\e260';
// }
// #dashboard ul ul a {
// 	color: #5cbbbb;
// 	font-size: 0.9em !important;
// 	padding-left: 30px !important;
// 	background: #272727;
// }

#dashboard {
	#content {
		width: 100%;
		padding: 20px;
		min-height: 100vh;
		transition: all 0.3s;
		&.active {
			padding: 20px;
		}
		h3 {
			position: relative;
			margin: 20px 0;
			color: #fff;
			line-height: 36px;
			text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
			i {
				margin: 0 5px 0 0;
			}
		}
	}
	.container2 {
		width: 100%;
	}
	.card {
		position: relative;
		padding: 30px;
		border-radius: 15px;
		letter-spacing: 1px;
		background: #fff;
		i {
			position: absolute;
			top: 30px;
			right: 20px;
			display: block;
			width: 50px;
			height: 50px;
			text-align: center;
			line-height: 50px;
			font-size: 24px;
			color: #fff;
			border-radius: 25px;
		}
		&.red {
			i {
				background: #f5365c;
			}
		}
		&.orange {
			i {
				background: #fb6340;
			}
		}
		&.blue {
			i {
				background: #11cdef;
			}
		}
		&.green {
			i {
				background: #79c447;
			}
		}
		p {
			line-height: 36px;
			color: #555;
		}
		strong{
			display: block;
			font-size: 36px;
			font-weight: normal;
			line-height: 32px;
		}
		// &.red {
		// 	background: #ff5454;
		// }
		&.red2 {
			background: url(../images/lost.png) no-repeat 30px 50% #ff5454;
		}
		// &.blue {
		// 	background: url(../images/motorbike.png) no-repeat 30px 50% #67c2ef;
		// }
		// &.orange {
		// 	background: url(../images/battery.png) no-repeat 30px 50% #ff9900;
		// }
	}
	.card2 {
		height: 100px;
		padding: 20px 0 0 72px;
		border-radius: 4px;
		letter-spacing: 1px;
		p {
			padding: 0 0 0 15px;
			border-left: 1px solid #fff;
			line-height: 24px;
			color: #fff;
		}
		strong{
			display: block;
			font-size: 36px;
			font-weight: normal;
			line-height: 32px;
		}
		&.red {
			background: url(../images/battery.png) no-repeat 15px 50% #ff5454;
		}
		&.blue {
			background: url(../images/use.png) no-repeat 15px 50% #67c2ef;
		}
		&.orange {
			background: url(../images/card.png) no-repeat 15px 50% #ff9900;
		}
		&.green {
			background: url(../images/buy.png) no-repeat 15px 50% #79c447;
		}
	}
	.panel {
		margin: 35px 0 0 0;
		border-radius: 15px;
		border: 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		h2 {
			color: #3d3d63;
			font-size: 18px;
		}
	}
	.row h2 {
		height: 60px;
		color: #3d3d63;
		font-size: 18px;
		font-weight: bold;
		line-height: 30px;
		i {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin: 0 5px 0 0;
			border-radius: 15px;
			text-align: center;
			line-height: 30px;
			color: #fff;
			background: #4fb8c9;
		}
	}
	.battery-change {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 175px;
		height: 140px;
		margin: 0 auto;
		font-size: 36px;
		text-align: center;
		color: #48b6cf;
		background: url(../images/change.png) no-repeat 50% 50%;
		background-size: 90% 90%;
	}
	.total-kilometers {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 175px;
		height: 140px;
		margin: 0 auto;
		font-size: 36px;
		text-align: center;
		color: #48b6cf;
		background: url(../images/distance.png) no-repeat 50% 50%;
		background-size: 90% 90%;
	}
	.total-co2 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 175px;
		height: 140px;
		margin: 0 auto;
		font-size: 36px;
		text-align: center;
		color: #48b6cf;
		background: url(../images/co2.png) no-repeat 50% 50%;
		background-size: 90% 90%;
	}
	.total-price {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 175px;
		height: 140px;
		margin: 0 auto;
		font-size: 36px;
		text-align: center;
		color: #48b6cf;
		background: url(../images/cash.png) no-repeat 50% 50%;
		background-size: 90% 90%;
	}
	.up {
		color: #d9534f;
	}
	.down {
		color: #5cb85c;
	}
	.container-default {
		margin: 35px 0 0 0;
		padding: 30px;
		border-radius: 15px;
		background: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, .05);
		h2 {
			margin: 0;
			padding: 0;
		}
		table {
			width: 100%;
			margin: 0;
			td {
				padding: 10px;
				&:first-child {
					div {
						width: 150px;
					}
				}
				&:nth-child(2) {
					div {
						width: 200px;
					}
				}
				&:nth-child(3) {
					div {
						width: 120px;
					}
				}
				&:nth-child(4) {
					div {
						width: 320px;
					}
				}
				&:nth-child(5) {
					div {
						width: 150px;
					}
				}
				&:nth-child(6) {
					div {
						width: 100px;
					}
				}
				&:nth-child(7) {
					div {
						width: 100px;
					}
				}
				&:nth-child(8) {
					div {
						width: 100px;
					}
				}
				&:nth-child(9) {
					div {
						width: 100px;
					}
				}
			}
			thead {
				td {
					padding: 5px 0;
					border-bottom: 2px solid #35AC7C;
					text-align: center;
					color: #fff;
					background: #49C888;
				}
			}
			tbody {
				td {
					padding: 8px 0;
					border-bottom: 1px solid #e0e0e0;
					text-align: center;
					.progress {
						width: 80%;
						height: 10px;
						margin: 0 auto;
					}
				}
				tr:last-child td {
					border-bottom: 0;
				}
			}
			&.other_batter_detail td:nth-child(2) {
				position: relative;
				.map {
					position: absolute;
					top: 50%;
					left: 50%;
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_map.png) no-repeat;
				}
			}
		}
	}
	.chart-container {
		box-sizing: border-box;
		width: 850px;
		height: 500px;
		padding: 20px 15px 15px 15px;
		margin: 70px auto 30px auto;
		clear: both;
	}
	.placeholder {
		width: 100%;
		height: 100%;
		font-size: 14px;
		line-height: 1.2em;
		table {
			width: auto;
			.legendLabel {
				padding: 10px 20px 10px 10px;
			}
		}
	}
	footer {
		padding: 20px 0 0 0;
		text-align: center;
	}
}

#canvas-holder {
	display: block !important;
	margin: 0 auto;
	width: 60% !important;
}
@media (max-width: 1200px) {
	#dashboard {
		&::before {
			height: 720px;
		}
		.card {
			margin: 0 0 20px 0;
		}
	}
}
@media (max-width: 768px) {
	#dashboard a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
		top: auto;
		bottom: 5px;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}
	// #dashboard #sidebar {
	// 	min-width: 80px;
	// 	max-width: 80px;
	// 	text-align: center;
	// 	margin-left: -80px !important ;
	// }
	
	// #dashboard #sidebar.active {
	// 	margin-left: 0 !important;
	// }

	// #dashboard #sidebar .sidebar-header h3, #dashboard #sidebar .CTAs {
	// 	display: none;
	// }

	// #dashboard #sidebar .sidebar-header strong {
	// 	display: block;
	// }

	// #dashboard #sidebar ul li a {
	// 	padding: 20px 10px;
	// }

	// #dashboard #sidebar ul li a span {
	// 	font-size: 0.85em;
	// }
	// #dashboard #sidebar ul li a i {
	// 	margin-right:  0;
	// 	display: block;
	// }

	// #dashboard #sidebar ul ul a {
	// 	padding: 10px !important;
	// }

	// #dashboard #sidebar ul li a i {
	// 	font-size: 1.3em;
	// }
	// #dashboard #sidebar {
	// 	margin-left: 0;
	// }
	// #dashboard #sidebarCollapse span {
	// 	display: none;
	// }
}