@charset "UTF-8";
@import url(reset.css);
@import url(tab.css);

html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #555;
	background: #fdf4ec;
	&#login {
		height: 100%;
		min-height: 100%;
		background: #49c888;
		background: radial-gradient(circle, #93EEAE, #35AC7C);
		.fancybox-slide--iframe .fancybox-content {
			width: 320px;
			height: 225px;
			margin: 0;
			border-radius: 20px;
		}
	}
	&#forgot {
		height: 100%;
		min-height: 100%;
		background: #fff;
	}
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px white inset !important;
}

.fancybox-slide--iframe .fancybox-content {
	width: 320px;
	height: 225px;
	margin: 0;
	border-radius: 20px;
}
.loading {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	.img_label {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 180px;
		margin: -90px 0 0 -150px;
		padding: 40px 0 0 0;
		text-align: center;
		color: #49c888;
		border-radius: 10px;
		background: url(../images/loading.gif) no-repeat white 50% 70%;
		background-size: 220px 145px;
	}
}

.loginbox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 360px;
	height: 540px;
	margin: -270px 0 0 -180px;
	overflow: hidden;
	p {
		text-align: center;
		&.title {
			margin: 0 0 25px 0;
			font-size: 1.5rem;
			font-weight: bold;
			color: #fff;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
			span {
				display: block;
				color: #ffffcc;
				text-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
			}
		}
		img {
			width: 25%;
			max-width: 25%;
			margin: 0 0 10px 0;
		}
	}
	#div_loginUser {
		display: flex;
		width: 100%;
		height: 50px;
		margin: 0 0 10px 0;
		padding: 0 30px;
		border-radius: 25px;
		background: #fff;
	}
	#div_loginpass {
		display: flex;
		width: 100%;
		height: 50px;
		margin: 0 0 20px 0;
		padding: 0 30px;
		border-radius: 25px;
		background: #fff;
	}
	#checkvcode {
		display: flex;
		width: 100%;
		height: 50px;
		margin: 0 0 10px 0;
		padding: 0 30px;
		border-radius: 25px;
		background: #fff;
		overflow: hidden;
		p {
			float: left;
			width: 50%;
			input.txt {
				width: 100%;
			}
		}
		#checkimg {
			display: flex;
			text-align: center;
			img {
				width: auto;
				height: 50%;
				margin: 15% 0 0 0;
			}
			a {
				margin: 15% 0 0 0;
				color: #999;
			}
		}
		input.txt {
			width: 180px;
		}
	}
	span {
		display: inline-block;
		height: 50px;
		margin: 0 0 5px 0;
		font-size: 1rem;
		color: #aaa;
		line-height: 50px;
	}
	input:-webkit-autofill {
		box-shadow: 0 0 0px 1000px #ffffff inset;
		-webkit-text-fill-color: #333;
	}
	input.txt {
		width: 330px;
		height: 50px;
		padding: 0 20px;
		line-height: 21px;
		font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
		font-size: 1rem;
		color: #555 !important;
		border: 0;
		border-radius: 16px;
	}
	.button {
		display: block;
		width: 100%;
		height: 50px;
		margin: 25px auto 15px auto;
		padding: 0;
		font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
		font-size: 18px;
		color: #fff;
		text-align: center;
		line-height: 50px;
		border: 0;
		border-radius: 25px;
		background: #333;
		cursor: pointer;
	}
	.forgot {
		display: block;
		color: #DCFCDF;
		line-height: 20px;
		text-align: center;
		&:hover {
			color: #fff;
			span {
				color: #fff;
				border: 2px solid #fff;
			}
		}
		span {
			display: inline-block;
			width: 20px;
			height: 20px;
			font-size: 12px;
			color: #DCFCDF;
			line-height: 120%;
			text-align: center;
			border-radius: 10px;
			border: 2px solid #DCFCDF;
		}
	}
}
@media (max-width: 400px) {
	.loginbox {
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		margin: 100px auto 0 auto;
		padding: 0 20px;
	}
}
p.copyright {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 24px;
	font-size: .8rem;
	line-height: 24px;
	color: #DCFCDF;
	text-align: center;
}

.logoutbox {
	width: 320px;
	height: 180px;
	padding: 35px 0;
	text-align: center;
	background: #fff;
	overflow: hidden;
	.button {
		display: block;
		width: 135px;
		height: 36px;
		margin: 45px auto 15px auto;
		font-size: 16px;
		color: #fff;
		text-align: center;
		line-height: 36px;
		border-radius: 18px;
		border: 0;
		background: #49c888;
		box-shadow: 5px 5px 15px #eee;
	}
}

header {
	position: relative;
	width: 100%;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	background: #49c888;
	z-index: 999;
	.topper {
		position: relative;
		height: 50px;
		padding: 10px 35px 10px 65px;
		overflow: hidden;
		#button-menu {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 50px;
			padding: 13px 0;
			font-size: 16px;
			line-height: 24px;
			color: #fff;
			text-align: center;
			border-right: 1px solid rgba(255, 255, 255, .25);
			cursor: pointer;
		}
		.logo {
			display: block;
			width: 529px;
			height: 30px;
			background: url(../images/logo.png) no-repeat;
			background-size: 265px 30px;
		}
		.login {
			position: absolute;
			right: 20px;
			top: 13px;
			line-height: 24px;
			color: #999;
			b {
					color: #fff;
					font-weight: normal;
			}
			a {
				margin: 0 0 0 5px;
				padding: 2px 3px;
				font-size: 12px;
				color: #DCFCDF;
				text-decoration: none;
				border-radius: 3px;
				background: #35AC7C;
				&:hover {
					color: #fff;
					background: #24906F;
				}
			}
		}
	}
}

// footer {
// 	padding: 10px 0 10px 0;
// 	font-size: 12px;
// 	color: #999;
// 	text-align: center;
// }

#container {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: #fcfcfc;
	overflow: hidden;
}

.wrapper {
	padding-bottom: 42px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#column-left {
	position: absolute;
	top: 0px;
	width: 50px;
	height: 100%;
	padding: 0;
	background-color: #515151;
	z-index: 10;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	&.active {
		width: 235px;
		display: block;
	}
	& ~ .wrapper {
		margin-left: 50px;
		& ~ footer {
			margin-left: 50px;
		}
	}
}
@media (max-width: 767px) {
	#column-left {
		overflow: hidden;
		display: none;
		& ~ .wrapper {
			margin-left: 0;
			& ~ footer {
				margin-left: 0;
			}
		}	
	}
}

#menu, #menu ul, #menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu {
	margin-bottom: 25px;
}

#menu > li {
	position: relative;
}

#menu li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #515151;
	i {
		font-size: 16px;
	}
}

#menu > li > a {
	color: #c4c4c4;
	font-size: 14px;
	padding-left: 13px;
	border-bottom: 1px solid #585858;
	&:hover {
		color: #fff;
		background-color: #35AC7C;
	}
	& > span {
		display: none;
		margin-left: 8px;
	}
}

#menu li li a {
	color: #9d9d9d;
	&:hover {
		color: #FFFFFF;
		background-color: #373737;
		&:before {
			margin-right: 20px;
		}
	}
}

#menu > li.active > a {
	color: #DDDDDD;
	background: #373737;
}

#menu li.active li a {
	color: #C4C4C4;
}

#menu li li.active > a:last-child {
	color: #FFFFFF;
}

#menu li li.active a:last-child:before {
	margin-left: 20px;
	margin-right: 10px;
}

#menu > li > ul {
	position: absolute;
	left: 50px;
	top: 0px;
	width: 240px;
	background-color: #444444;
	visibility: hidden;
}

#menu li ul {
	overflow: hidden;
	a {
		padding-left: 20px;
		i {
			padding: 0 5px 0 0;
		}
	}
}

#menu > li:hover > ul {
	visibility: visible;
}

#menu li li a.parent:after, #column-left.active #menu > li a.parent:after {
	content: "+";
	float: right;
	margin-right: 8px;
}

#menu li li.open > a.parent:after, #column-left.active #menu > li.open > a.parent:after, #column-left.active #menu > li li.open > a.parent:after {
	content: "-";
	float: right;
	margin-right: 8px;
}

#menu li li ul a {
	padding-left: 40px;
}

#menu li li li ul a {
	padding-left: 60px;
}

#menu li li li li ul a {
	padding-left: 80px;
}

@media (min-width: 768px) {
	#column-left.active {
		overflow: auto;
	}
	#column-left.active ~ .wrapper {
		margin-left: 235px;
	}
	#column-left.active ~ .wrapper ~ footer {
		margin-left: 235px;
	}
}

@media (max-width: 767px) {
	#column-left.active ~ .wrapper {
		position: relative;
		left: 235px;
	}
	#column-left.active ~ .wrapper ~ footer {
		position: relative;
		left: 235px;
	}
}

#column-left.active {
	width: 235px;
}

#column-left.active #menu li i {
	font-size: 14px;
}

#column-left.active #menu > li > a > span {
	display: inline;
}

#column-left.active #menu > li > ul {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
	visibility: visible;
}

// .menulist {
// 	margin: 0 auto;
// 	overflow: hidden;
// 	li {
// 		float: left;
// 		position: relative;
// 		display: block;
// 		width: 320px;
// 		height: 120px;
// 		margin: 0 5px 10px 5px;
// 		padding: 20px 20px 20px 30px;
// 		font-size: 12px;
// 		border: 3px solid #ccc;
// 		border-radius: 8px;
// 		background: #fff;
// 		box-shadow: 5px 5px 10px #eee;
// 		a {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 			width: 100%;
// 			height: 120px;
// 		}
// 		p {
// 			display: block;
// 			width: 175px;
// 			&.title {
// 					margin: 0 0 10px 0;
// 					font-size: 22px;
// 					color: #49c888;
// 			}
// 		}
// 		span {
// 			position: absolute;
// 			top: 50%;
// 			right: 20px;
// 			display: block;
// 			width: 80px;
// 			height: 80px;
// 			margin: -40px 0 0 0;
// 			border-radius: 50px;
// 			img {
// 					width: 100%;
// 			}
// 		}
// 		&:first-child span {
// 			background: #E87654;
// 		}
// 		&:nth-child(2) span {
// 			background: #E89354;
// 		}
// 		&:nth-child(3) span {
// 			background: #E8B454;
// 		}
// 		&:nth-child(4) span {
// 			background: #7ABC6A;
// 		}
// 		&:nth-child(5) span {
// 			background: #79A7CE;
// 		}
// 		&:nth-child(6) span {
// 			background: #4C6191;
// 		}
// 		&:nth-child(7) span {
// 			background: #9886B2;
// 		}
// 		&:nth-child(8) span {
// 			background: #646362;
// 		}
// 		&:nth-child(9) span {
// 			background: #B5B4B2;
// 		}
// 	}
// }

.box {
	position: relative;
	width: 1140px;
	margin: 3% auto;
	padding: 30px;
	border: 1px solid #eee;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .05);
	// &.fixed {
	// 	padding: 0 50px 11px 50px;
	// }
	.topper {
		display: flex;
		align-items: flex-start;
		margin: 0 0 20px 0;
	}
	.btitle {
		width: 100%;
		margin: 0;
		padding: 0 0 0 20px;
		font-size: 22px;
		font-weight: bold;
		color: #333;
		border-left: 2px solid #49c888;
		span {
			display: inline-block;
			margin: 0 0 0 10px;
			padding: 2px 3px;
			color: #555;
			font-size: 1.4rem;
			font-weight: normal;
			line-height: 1.4rem;
			border: 1px solid #ccc;
			&.amount {
				margin: 0 5px;
				padding: 3px 8px 3px 8px;
				color: #555;
				font-size: 14px;
				font-weight: normal;
				border: 1px solid #ccc;
				border-radius: 5px;
				box-shadow: 3px 3px 8px #eee;
				&:first-child {
					margin: 0 5px 0 15px;
				}
				i {
					font-style: normal;
					font-weight: bold;
					color: #ff6600;
				}
			}
			&#search_date_range {
				font-size: 1.4rem;
			}
		}
		& + div.section {
			margin: 30px 0 0 0;
		}
	}
	.tablehead {
		margin: 0 0 10px 0;
		font-size: 1.8rem;
		font-weight: bold;
		color: #333;
		&::before {
			content: "\f0da"; 
			margin: 0 10px;
			font-family: 'Font Awesome\ 5 Free';
			color: #49c888;
		}
	}
	// &.pwd {
	// 	padding: 20px;
	// 	.section {
	// 		margin: 0;
	// 		padding: 0 20px;
	// 	}
	// 	.btitle {
	// 		margin: 0 0 35px 0;
	// 		}
	// }
	// .stitle {
	// 	margin: 0 0 10px 0;
	// 	font-size: 16px;
	// 	color: #ff6600;
	// }
	.title {
		margin: 20px 0 0 0;
		padding: 0 0 10px 0;
		font-size: 1.8rem;
		color: #ff6600;
		font-weight: bold;
	}
	.topbtn {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		&.column {
			// flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin: 0 0 10px 0;
		}
		.normalsearch {
			display: flex;
			#cnzipcode {
				display: flex;
			}
			.txt {
					float: left;
					display: block;
					width: 200px;
					height: 32px;
					margin: 0 5px 0 0;
					padding: 0 10px;
					font-size: 14px;
					line-height: 21px;
					color: #333;
					border: 1px solid #ccc;
					border-radius: 5px;
			}
			.clear {
					float: left;
					display: block;
					width: 70px;
					height: 32px;
					margin: 0 5px 0 0;
					padding: 0;
					color: #fff;
					line-height: 21px;
					border-radius: 16px;
					border: 0;
					background: #999;
			}
			.search {
					float: left;
					display: block;
					width: 70px;
					height: 32px;
					margin: 0;
					padding: 0;
					color: #fff;
					line-height: 21px;
					border-radius: 16px;
					border: 0;
					background: #666;
			}
			select, #bss_no {
					float: left;
					height: 21px;
					margin: 0 10px 0 0;
					border-radius: 3px;
					border: 1px solid #ccc;
			}
		}
		.btnbox {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			width: 100%;
			.buttoninActive {
				float: none;
			}
			.buttonnoActive {
				float: none;
			}
		}
	}
	// input[type='checkbox'] {
	// 	zoom: 140%;
	// }
}

#searchContainer {
	position: relative;
	display: block;
	width: 110px;
	margin: 0 10px 0 0;
	#searchButton {
		width: 110px;
		text-decoration: none;
		border-radius: 24px;
		background: #49c888;
		span {
			display: block;
			i {
				margin: 0 8px 0 0;
			}
		}
		&.active {
			i {
				transform: rotate(90deg);
			}		
		}
	}
	#searchBox {
		position: absolute;
		top: 35px;
		right: -10px;
		display: none;
		z-index: 999999;
		#searchForm {
			width: 100%;
			height: 100%;
			padding: 7px;
			border: 1px solid #74DE9E;
			background: #DCFCDF;
			fieldset2 {
				display: block;
				padding: 20px;
				&#body {
					background: #fff;
					padding: 0;
				}
				table {
					width: 470px;
					margin: 0 0 15px 0;
					tr td {
						padding: 5px 0;
						border-bottom: 1px solid #eee;
						background: none;
						&.date_zone {
							select {
								margin: 0 10px 0 0;
							}
						}
						&.td_label_bss_id {
							width: 130px;
						}
						input[type=date] {
							margin: 0 0 10px 0;
						}
					}
					label {
						display: inline-block;
						min-width: 120px;
						height: 24px;
						line-height: 24px;
					}
					.start_end_label {
						margin: 0 10px 10px 0;
						height: 24px;
						line-height: 24px;
					}
					select {
						height: 24px;
						margin: 0;
						line-height: 24px;
						border-radius: 5px;
						border: 1px solid #ccc;
					}
					input {
						width: 100%;
						margin: 0 0 10px 0;
						border-radius: 5px;
						border: 1px solid #ccc;
						&[type=date] {
							height: 24px;
							line-height: 24px;
						}
					}
				}
				.btnzone {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}

.button {
	&inActive {
		float: left;
		display: block;
		width: 32px;
		height: 32px;
		margin: 0 0 0 10px;
		padding: 0;
		text-align: center;
		line-height: 32px;
		color: #fff;
		border-radius: 3px;
		background-color: #3A6FFF;
		cursor: pointer;
		&:hover {
			color: #fff;
			background-color: #2A55DB;
		}
		&.bdelete {
			background-color: #FF3A68;
		}
		// &.sredo {
		// 	background: url(../images/sicon_redo.png) 18px 50% #666 no-repeat;
		// }
		// &.smore {
		// 	background: url(../images/sicon_more.png) 13px 50% #666 no-repeat;
		// }
		// &.smap {
		// 	background: url(../images/icon_map_white.png) 13px 50% #333 no-repeat;
		// }
		// &.simport {
		// 	background: url(../images/sicon_import.png) 13px 50% #666 no-repeat;
		// }
		// &.sback {
		// 	background: url(../images/sicon_back.png) 13px 50% #666 no-repeat;
		// }
		// &.sbuy {
		// 	background: url(../images/sicon_buy.png) 13px 50% #666 no-repeat;
		// }
	}
	&noActive {
		float: left;
		display: block;
		width: 32px;
		height: 32px;
		margin: 0 0 0 10px;
		padding: 0;
		text-align: center;
		line-height: 32px;
		color: #fff;
		border-radius: 3px;
		background: #D7E6FF;
		&:hover {
			color: #fff;
		}
		&.bdelete {
			background-color: #FFDDD7;
		}
		&.smore {
			background: url(../images/sicon_more2.png) 13px 50% #DCE7FE no-repeat;
		}
	}
	&dark {
		display: inline-block;
		width: 130px;
		height: 32px;
		padding: 0;
		text-align: center;
		line-height: 32px;
		font-size: 16px;
		color: #fff;
		border: 0;
		border-radius: 15px;
		background: #333;
		cursor: pointer;
		&--thin {
			display: inline-block;
			width: 130px;
			height: 24px;
			margin: 0 5px;
			padding: 0;
			text-align: center;
			line-height: 24px;
			font-size: 14px;
			color: #fff;
			border: 0;
			border-radius: 15px;
			background: #333;
			cursor: pointer;
		}
		&:hover {
			color: #ffffcc;
		}
	}
	&green {
		display: inline-block;
		width: 130px;
		height: 30px;
		padding: 0;
		text-align: center;
		line-height: 30px;
		font-size: 14px;
		color: #fff;
		border: 0;
		border-radius: 15px;
		background: #49c888;
		cursor: pointer;
		&--thin {
			display: inline-block;
			width: 130px;
			height: 24px;
			margin: 0 5px;
			padding: 0;
			text-align: center;
			line-height: 24px;
			font-size: 14px;
			color: #fff;
			border: 0;
			border-radius: 15px;
			background: #49c888;
			cursor: pointer;
		}		
		&:hover {
			color: #ffffcc;
		}
	}	
	// &black2 {
	// 	display: inline-block;
	// 	width: 130px;
	// 	height: 30px;
	// 	text-align: center;
	// 	line-height: 30px;
	// 	color: #fff;
	// 	border-radius: 15px;
	// 	background: #666;
	// 	cursor: pointer;
	// }
}



table {
	width: 100%;
	margin: 0;
	tr {
		&:nth-child(odd) td {
			background: #f8f8f8;
		}
		&:hover td {
			background: #feeee1;
		}
	}
	th {
		color: #fff;
		font-weight: normal;
		text-align: center;
		background: #333;
		a {
			color: #fff;
		}
	}
	td.track {
		position: relative;
		.icon_track {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 20px;
			height: 20px;
			margin: -10px 0 0 -10px;
			text-indent: -5000px;
			cursor: pointer;
			background: url(../images/icon_track.png) no-repeat;
		}
	}
	&.account, &.group, &.menu, &.config, &.dealer, &.sub_dealer, &.battery_swap_station, &.battery, &.vehicle, &.ccb, &.operator, &.sub_operator, &.member, &.feedback, &.battery_swap_station_group {
		th:first-child {
			width: 40px !important;
		}
		td:first-child {
			width: 40px !important;
			text-align: center;
		}
	}
	&.log_battery_leave_return {
		td:nth-child(4){
			position: relative;
			text-align: center;
		}
	}
	&.battery_swap_station {
		td:nth-child(12) {
			position: relative;
			.map {
					position: absolute;
					top: 50%;
					left: 50%;
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_map.png) no-repeat;
			}
		}
		td:nth-child(13) {
			position: relative;
			.watch {
					position: absolute;
					top: 50%;
					left: 50%;
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_eye.png) no-repeat;
			}
		}
	}
	&.battery {
		td:nth-child(8) {
			position: relative;
			text-align: center;
		}
		td:nth-child(13) {
			position: relative;
			text-align: center;
		}
	}
	&.vehicle {
		td:nth-child(10) {
			position: relative;
			.map {
					position: absolute;
					top: 50%;
					left: 50%;
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_map.png) no-repeat;
			}
		}
	}
	&.cardinfo {
		td:nth-child(4) {
			position: relative;
			.map {
					position: absolute;
					top: 50%;
					left: 50%;
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_map.png) no-repeat;
			}
		}
	}
	&.operator {
		td:nth-child(7) {
			color: #49c888;
		}
		td.no {
			color: #cc0000;
		}
	}
	&.sub_operator {
		td:nth-child(8) {
			color: #49c888;
		}
		td.no {
			color: #cc0000;
		}
	}
	&.member {
		td.status {
			color: #49c888;
		}
		td.no {
			color: #cc0000;
		}
		td.log {
			position: relative;
			text-align: center;
		}
		td.record {
			position: relative;
			text-align: center;
		}
	}
	&.price {
		td {
			height: 28px;
			line-height: 28px;
			text-align: center;
			&:nth-child(2) a {
					color: #2081b9;
			}
			&:nth-child(7) {
					color: #49c888;
			}
			&:nth-child(8) {
					position: relative;
					.record {
						position: absolute;
						top: 50%;
						left: 50%;
						display: block;
						width: 20px;
						height: 20px;
						margin: -10px 0 0 -10px;
						background: url(../images/icon_record.png) no-repeat;
					}
			}
			&:nth-child(9) {
					position: relative;
					.money {
						position: absolute;
						top: 50%;
						left: 50%;
						display: block;
						width: 20px;
						height: 20px;
						margin: -10px 0 0 -10px;
						background: url(../images/icon_money.png) no-repeat;
					}
			}
			&.no {
					color: #cc0000;
				}
		}
	}
	&.battery_swap_track {
		td:nth-child(8) {
			position: relative;
			text-align: center;
		}
	}
	&.log_alarm_online {
		td:nth-child(1) {
			position: relative;
			.edit {
				display: block;
				text-align: center;
				color: #666;
			}
		}
	}
	&.log_battery_warring {
		td:nth-child(1) {
			position: relative;
			.edit {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_edit.png) no-repeat;
			}
		}
	}
	&.log_swap_track_warring {
		td:nth-child(1) {
			position: relative;
			.edit {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_edit.png) no-repeat;
			}
		}
	}
	&.monitor {
		td:nth-child(15){
			position: relative;
			.watch {
					position: absolute;
					top: 50%;
					left: 50%;
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					color: #000;
					text-decoration: none;
					&::before {
						content: "\f06e";
						font-family: 'Font Awesome\ 5 Free';
					}
			}
		}
	}
	&.monitor2 {
		th:nth-child(1) {
			width:30px;
		}
		td:nth-child(1) {
			width:30px;
			.edit {
					top: 50%;
					display: block;
					width: 20px;
					height: 20px;
					background: url(../images/icon_edit.png) no-repeat;
			}
			}
	}
	&.operator_order {
		td:nth-child(6) {
			position: relative;
			.record {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_list.png) no-repeat;
			}
		}
	}
	&.index_operator_order {
		td:nth-child(5) {
			position: relative;
			.record {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_list.png) no-repeat;
			}
		}
	}
	&.card_management {
		td:nth-child(9) {
			position: relative;
			.record {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_list.png) no-repeat;
			}
		}
		td:nth-child(10) {
			position: relative;
			.record {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
					background: url(../images/icon_record.png) no-repeat;
			}
		}
	}
}

#panel.table_menu {
	tr:nth-child(odd) td, tr:hover td {
		background: none;
	}
	tr:nth-child(odd) td.main, tr:nth-child(odd) td#control_label, tr:hover td.main, tr:hover td#control_label {
		background: #fafad2;
	}
}

#div_access_control.table_menu {
	tr:nth-child(odd) td, tr:hover td {
		background: none;
	}
	tr:nth-child(odd) td.main, tr:nth-child(odd) td#control_label, tr:hover td.main, tr:hover td#control_label {
		background: #fafad2;
	}
}

.section {
	margin: 0;
	padding: 0 0 30px 0;
	overflow: visible;
	&.container {
		width: 100%;
		padding: 0;
	}
	input.txt {
		width: 150px;
		height: 28px;
		padding: 0 5px;
		font-size: 14px;
		line-height: 28px;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 3px;
		&.long {
			width: 350px;
		}
		&.long2 {
			width: 420px;
		}
		&.short {
			width: 110px;
		}
	}
	input.radio {
		margin: 7px 5px 0 20px;
		&.first {
			margin: 7px 5px 0 1px;
		}
	}
	input.btn {
		width: auto;
		height: 28px;
		margin: 0 0 0 5px;
		padding: 0 20px;
		font-size: 14px;
		line-height: 28px;
		color: #333;
		border: 1px solid #ddd;
		border-radius: 3px;
		background: #eee;
	}
	input.chk {
		margin: 0 5px 0 20px;
	}
	input[type="datetime-local"] {
		width: 220px;
		height: 28px;
		padding: 0 5px;
		font-size: 14px;
		line-height: 28px;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
	select {
		height: 28px;
		margin: 0 5px 0 0;
		padding: 3px 12px;
		font-size: 14px;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 3px;
		background: #fff;
	}
	&:last-child {
		margin: 20px 0 0 0;
		padding: 0;
		border: 0;
	}
	.allbox {
		width: 100%;
	}
	.leftbox {
		float: left;
		width: 50%;
		ul li {
			position: relative;
			display: flex;
			width: 100%;
			height: 28px;
			line-height: 28px;
			color: #333;
			overflow: visible;
			&.card {
					height: 280px;
					p {
						float: left;
					}
					.notice {
						color: #ff6666;
					}
			}
			&.line5 {
					height: 142px;
					padding: 0 20px 0 0;
			}
			textarea {
					width: 320px;
					height: 142px;
					font-size: 14px;
					line-height: 21px;
					border: 1px solid #ccc;
					border-radius: 3px;
					&.small {
						width: 220px;
					}
			}
			label {
					float: left;
					display: block;
					width: 225px;
					color: #999;
					overflow: hidden;
					&.line5 {
						height: 140px;
					}
					span {
						float: left;
						display: block;
						width: 8px;
						height: 8px;
						margin: 10px 10px 10px 0;
						background: #ccc;
						&.notice {
							float: none;
							display: inline;
							margin: 0;
							padding: 0 0 0 10px;
							color: #ff6666;
							background: none;
						}
					}
			}
			span {
					color: #cc0000;
			}
			p.reality {
					width: 100%;
					#upload_virtual_map {
						display: inline-block;
						width: 100%;
						max-width: 420px;
					}
					#upload_virtual_map img {
						max-width: 100%;
					}
			}
		}
		&.edit {
			line-height: 40px;
			li {
					height: 40px;
					&.auto {
						height: auto !important;
					}
			}
		}
		&.edit2 {
			line-height: 40px;
			li {
					height: 80px;
					&.auto {
						height: auto;
					}
					label {
						float: none;
						width: 100%;
					}
			}
		}
	}
	.container-box {
		float: left;
		ul {
			li {
				position: relative;
				width: 100%;
				margin: 0 0 30px 0;
				color: #333;
				overflow: visible;
				label {
					position: relative;
					display: block;
					padding: 0 0 0 20px;
					color: #999;
					overflow: hidden;
					&::before {
						content: '';
						position: absolute;
						top: 5px;
						left: 0;
						display: block;
						width: 10px;
						height: 10px;
						border-radius: 2px;
						border: 1px solid #FDD755;
						background: #FEEFA4;
					}
					&.inb {
						float: left;
						width: 100px;
						line-height: 28px;
						&::before {
							top: 9px;
						}
					}
				}
				span {
						color: #cc0000;
				}
				.sol-container {
					margin: 0 0 10px 0;
				}
				textarea {
					width: 320px;
					height: 142px;
					font-size: 14px;
					line-height: 21px;
					border: 1px solid #ccc;
					border-radius: 3px;
					&.small {
						width: 220px;
					}
				}
			}
		}
		span.show {
			display: block;
			width: 80px;
			height: 100px;
			margin: 0 0 10px 0;
			border-radius: 40px;
			background: #49c888;
			img {
					width: 100%;
			}
		}
		.radio {
			display: inline;
		}
	}
	.pwdbox {
		float: none;
		width: 240px;
		margin: 0 auto;
		li {
				position: relative;
				height: 32px;
				line-height: 32px;
				label {
					float: left;
					width: 120px;
				}
				input {
					float: left;
					width: 140px;
					height: 32px;
				}
		}
	}
	.configbox {
		float: none;
		width: 320px;
		margin: 0 auto;
	}
	
	.leftbox2 {
		float: left;
		width: 33%;
		&.leftbox3 {
			width: 20%;
		}
		ul li {
			position: relative;
			display: flex;
			width: 100%;
			height: 28px;
			line-height: 28px;
			color: #333;
			overflow: visible;
			label {
					float: left;
					display: block;
					width: 200px;
					color: #999;
					overflow: hidden;
					span {
						float: left;
						display: block;
						width: 8px;
						height: 8px;
						margin: 10px 10px 10px 0;
						background: #ccc;
						&.notice {
							float: none;
							display: inline;
							margin: 0;
							padding: 0 0 0 10px;
							color: #ff6666;
							background: none;
						}
					}
			}
			span {
					color: #cc0000;
			}
		}
		&.edit {
			line-height: 40px;
			li {
					height: 40px;
			}
		}
		&.edit2 {
			line-height: 40px;
			li {
					height: 80px;
					&.autoh {
						height: auto;
					}
					label {
						float: none;
						width: 100%;
					}
			}
		}
	}
	.rightbox {
		float: left;
		width: 50%;
		ul li {
			position: relative;
			display: flex;
			width: 100%;
			height: 28px;
			line-height: 28px;
			color: #333;
			overflow: visible;
			&.card {
					height: 280px;
					p {
						float: left;
					}
					.notice {
						color: #ff6666;
					}
			}
			label {
					float: left;
					display: block;
					width: 200px;
					color: #999;
					overflow: hidden;
					span {
						float: left;
						display: block;
						width: 8px;
						height: 8px;
						margin: 10px 10px 10px 0;
						background: #ccc;
					}
			}
			span {
					color: #cc0000;
			}
			a {
					color: #2081b9;
			}
			textarea {
					width: 320px;
					height: 142px;
					font-size: 14px;
					line-height: 21px;
					border: 1px solid #ccc;
					border-radius: 3px;
			}
		}
		&.edit {
			line-height: 40px;
			li {
					height: 40px;
					&.line2 {
						height: 80px;
						label.line2 {
							height: 56px;
						}
					}
					&.auto {
						height: auto;
					}
			}
		}
		&.edit2 {
			line-height: 40px;
			li {
					height: 80px;
					&.line1 {
						height: 40px;
					}
					&.auto {
						height: auto;
					}
					label {
						float: none;
						width: 100%;
					}
			}
		}
		.order-amount {
			margin: 0 0 10px 0;
			overflow: hidden;
			li {
					&:first-child {
						float: left;
						width: 35%;
						height: auto;
						margin: 0 5% 0 0;
						padding: 3px 10px;
						color: #ad7753;
						font-weight: normal;
						border-radius: 5px;
						background: #fae8c5;
					}
					&:nth-child(2) {
						float: left;
						width: 35%;
						height: auto;
						margin: 0 5% 0 0;
						padding: 3px 10px;
						color: #ad7753;
						font-weight: normal;
						border-radius: 5px;
						background: #fae8c5;
					}
					&:nth-child(3) {
						float: left;
						width: 20%;
						a {
							display: block;
							padding: 3px 10px;
							color: #fff;
							font-size: 12px;
							text-align: center;
							border-radius: 20px;
							background: #ac7060;
						}
					}
					span {
						margin: 0 0 0 10px;
						font-size: 18px;
					}
			}
		}
		.order-card {
			td  {
					padding: 5px 0;
					&:first-child {
						width: 15%;
						text-align: center;
					}
					&:nth-child(2) {
						width: 40%;
						text-align: center;
					}
					&:nth-child(3) {
						width: 25%;
						text-align: center;
						input {
							text-align: center;
						}
						a {
							display: inline-block;
							width: 20px;
							height: 20px;
							margin: 0 5px;
							font-size: 12px;
							line-height: 20px;
							color: #fff;
							text-align: center;
							border-radius: 50%;
							background: #ccc;
						}
					}
					&:nth-child(4) {
						width: 20%;
						text-align: center;
					}
			}
		}
	}
	.rightbox2 {
		float: left;
		width: 33%;
		&.rightbox3 {
			width: 45%;
		}
		ul li {
			position: relative;
			display: flex;
			width: 100%;
			height: 28px;
			line-height: 28px;
			color: #333;
			overflow: visible;
			label {
					float: left;
					display: block;
					width: 200px;
					color: #999;
					overflow: hidden;
					span {
						float: left;
						display: block;
						width: 8px;
						height: 8px;
						margin: 10px 10px 10px 0;
						background: #ccc;
						&.notice {
							float: none;
							display: inline;
							margin: 0;
							padding: 0 0 0 10px;
							color: #ff6666;
							background: none;
						}
					}
			}
			span {
					color: #cc0000;
			}
			a {
					color: #2081b9;
			}
		}
		&.edit {
			line-height: 40px;
			li {
					height: 40px;
			}
		}
		&.edit2 {
			line-height: 40px;
			li {
					height: 80px;
					&.line1 {
						height: 40px;
					}
					label {
						float: none;
						width: 100%;
					}
			}
		}
		span.show {
			display: block;
			width: 80px;
			height: 80px;
			margin: 0 0 10px 0;
			border-radius: 40px;
			background: #49c888;
			img {
					width: 100%;
			}
		}
	}
	.middlebox {
		float: left;
		width: 34%;
		&.middlebox3 {
			width: 35%;
		}
		&.col2box {
			width: 67%;
		}
		ul li {
			position: relative;
			display: flex;
			width: 100%;
			height: 28px;
			line-height: 28px;
			color: #333;
			overflow: visible;
			label {
					float: left;
					display: block;
					width: 200px;
					color: #999;
					overflow: hidden;
					span {
						float: left;
						display: block;
						width: 8px;
						height: 8px;
						margin: 10px 10px 10px 0;
						background: #ccc;
						&.notice {
							float: none;
							display: inline;
							margin: 0;
							padding: 0 0 0 10px;
							color: #ff6666;
							background: none;
						}
					}
			}
			span {
					color: #cc0000;
			}
			a {
					color: #2081b9;
			}
		}
		&.edit {
			line-height: 40px;
			li {
					height: 40px;
			}
		}
		&.edit2 {
			line-height: 40px;
			li {
					height: 80px;
					label {
						float: none;
						width: 100%;
					}
			}
		}
		&.edit3 {
			li {
					height: auto;
					line-height: 32px;
					label {
						float: none;
						width: 100%;
					}
			}
		}
	}
	button[id=bss_report] {
		width: auto;
		height: 28px;
		margin: 5px 0 0 0;
		padding: 0 20px;
		font-size: 14px;
		line-height: 28px;
		color: #fff;
		border:0;
		border-radius: 3px;
		background: #cc0000;
	}
}

.pagebar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 20px;
	text-align: right;
	background: #fff;
	span {
		display: inline-block;
		width: auto;
		height: 28px;
		margin: 0 5px 0 0;
		padding: 0 8px;
		line-height: 28px;
		text-align: center;
		color: #fff;
		border: 1px solid #49c888;
		border-radius: 16px;
		background: #49c888;
	}
	a {
		display: inline-block;
		width: auto;
		height: 28px;
		margin: 0 5px 0 0;
		padding: 0 8px;
		line-height: 28px;
		text-align: center;
		color: #999;
		border: 1px solid #999;
		border-radius: 16px;
		&.txtp {
			width: auto;
			padding: 0 10px;
			letter-spacing: 0;
			font-size: 12px;
		}
		&:hover {
			color: #000;
			border: 1px solid #000;
			text-decoration: none;
		}
		&:last-child {
			margin: 0;
		}
	}
	input {
		height: 28px;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
}

.buttonbar {
	padding: 0;
	text-align: center;
	clear: both;
}

.forgotbox {
	padding: 30px;
	p {
		margin: 0 0 20px 0;
		font-size: 22px;
		color: #49c888;
		i {
			margin: 0 5px 0 0;
		}
	}
	input {
		width: 100%;
		height: 32px;
		margin: 10px 0 0 0;
		padding: 0 10px;
		font-size: 16px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	.button {
		display: block;
		width: 120px;
		height: 42px;
		margin: 15px auto 0 auto;
		text-align: center;
		color: #fff;
		line-height: 42px;
		border-radius: 21px;
		background: #333;
	}
}

label.required {
	color: #ff0000 !important;
}

a.backbtn {
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: block;
	width: 80px;
	height: 50px;
	padding: 13px 0;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
}

div.battery_box {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	p.btitle {
		margin: 0 0 10px 0;
		padding: 0 0 0 10px;
		font-size: 22px;
		color: #49c888;
		border-left: 10px solid #49c888;
	}
	p.info {
		padding: 0 0 0 20px;
		color: #999;
		line-height: 21px;
		overflow: hidden;
		em {
			float: left;
			margin: 0 15px 0 0;
			font-style: normal;
		}
		span {
			float: left;
			display: block;
			width: 14px;
			height: 14px;
			margin: 3px 3px 0 0;
			border-radius: 3px;
			background: #254EDB;
			background-size: 100% 100%;
			&.error {
				background: #FF3D32;
			}
			&.stop {
				background: #333;
			}
			&.no {
				background: #eee;
			}
			&.charge {
				background: #ff9f1c;
			}
		}
	}
	p.last_time {
		position: absolute;
		right: 0px;
		top: -37px;
		color: #beb6aa;
	}
	.machine {
		display: block;
		width: 297px;
		height: 480px; 
		margin: 0 auto;
		padding: 0;
		border: 4px solid #ddd;
		background: #fcfcfc;
		.pad {
			padding: 20px 20px 10px 20px;
			p.point {
				display: block;
				width: 10px;
				height: 10px;
				margin: 0 auto 15px auto;
				border-radius: 5px;
				background: #666;
			}
			.screen {
				height: 120px;
				border: 15px solid #222;
			}
		}
		.battery-track {
			overflow: hidden;
			li {
				&:nth-child(odd) {
					float: left;
					width: 45%;
					margin: 0 5% 0 0;
				}
				&:nth-child(even) {
					float: left;
					width: 45%;
					margin: 0 0 0 5%;
				}
				span {
					display: block;
					width: 100%;
					height: 60px;
					margin: 0 0 5px 0;
					padding: 10px 0 0 10px;
					font-size: 16px;
					color: #fff;
					background: #254EDB;
					overflow: hidden;
					&.error {
						background: #FF3D32;
					}
					&.charge {
						background: #ff9f1c;
					}
					&.stop {
						background: #333;
					}
					&.no {
						background: #eee;
					}
				}
				button {
					color: #aaa;
					border: 1px solid #aaa;
					border-radius: 3px;
					background: #eee;
				}
			}
		}
		.footer {
			height: 25px;
			background: #254EDB;
		}
	}
}

.import_box {
	border-radius: 20px;
	p {
		margin: 0 0 15px 0;
		font-size: 2.4rem;
		font-weight: bold;
		line-height: 2.4rem;
		span {
			padding: 0 0 0 10px;
			font-size: 14px;
		}
		a {
			color: #49c888;
		}
		strong {
			margin: 0 0 0 10px;
			font-size: 1.4rem;
			line-height: 2.4rem;
			color: #FF4775;
		}
	}
	input[type=date] {
		padding: 5px 10px;
		height: 32px;
		line-height: 32px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	input.txt {
		width: 220px;
		height: 32px;
		padding: 0 5px;
		font-size: 14px;
		line-height: 32px;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 3px;
		&.long {
			width: 350px;
		}
		&.short {
			width: 110px;
		}
	}
	input.btn {
		width: auto;
		height: 28px;
		margin: 0 0 0 5px;
		padding: 0 20px;
		font-size: 14px;
		line-height: 28px;
		color: #333;
		border: 1px solid #ddd;
		border-radius: 3px;
		background: #eee;
	}
	.send {
		display: block;
		width: 135px;
		height: 36px;
		margin: 30px auto 0 auto;
		font-size: 16px;
		color: #fff;
		text-align: center;
		line-height: 36px;
		border-radius: 18px;
		border: 0;
		background: #49c888;
		box-shadow: 5px 5px 15px #eee;
	}
}

.alarmbox {
	padding: 30px;
	p {
		position: relative;
		margin: 0 0 10px 0;
		&.title {
			margin: 0 0 20px 0;
			padding: 0 0 0 10px;
			font-size: 22px;
			color: #49c888;
			border-left: 10px solid #49c888;
		}
	}
	label {
		display: inline-block;
		width: 135px;
	}
	select {
		width: 250px;
	}
	input.txt {
		width: 250px;
		height: 21px;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
	span {
		margin: 0 20px 0 0;
	}
	.button {
		display: block;
		width: 120px;
		height: 24px;
		margin: 20px auto 0 auto;
		text-align: center;
		color: #fff;
		line-height: 24px;
		border-radius: 21px;
		background: #645454;
	}
}

.ContenedorTabla {
	height: 400px;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}

.GridViewScrollHeader {
	th, td {
		padding: 5px;
		font-weight: normal;
		white-space: nowrap;
		border-right: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		background-color: #333;
		color: #999999;
	}
	th div {
		margin: 0 auto;
	}
}

.price div.gridViewScrollHelper {
	margin: 0 auto;
}

#listForm {
	margin: 0;
}

.GridViewScroll {
	&Item td {
		padding: 5px;
		white-space: nowrap;
		border-right: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		border-left: 1px solid #e6e6e6;
		background-color: #FFFFFF;
		color: #444444;
		a {
			color: #666;
			&:hover {
				color: #444;
			}
		}
	}
	&ItemFreeze td {
		padding: 5px;
		white-space: nowrap;
		border-right: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		border-left: 1px solid #e6e6e6;
		background-color: #FAFAFA;
		color: #444444;
		a {
			color: #666;
			&:hover {
				color: #444;
			}
		}
	}
	&FooterFreeze td {
		padding: 5px;
		white-space: nowrap;
		border-right: 1px solid #e6e6e6;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		background-color: #F4F4F4;
		color: #444444;
	}
}

.GridViewScrollHeader {
	a {
		color: #fff;
		&:hover {
			color: #ffffcc;
			text-decoration: none;
		}
	}
}
#listTable_Header_Freeze {
	.battery_swap_station, .battery_swap_track, .battery, .vehicle, .ccb, .member, .feedback, .log_operating, .log_driving_info {
		margin: 10px 0 0 0;
	}
}

.map .map_box_3 .citymap {
	display: none;
}

.div_post_name {
	&::after {
		content: "、";
	}
	&:last-child::after {
		content: "";
	}
}

.time-section {
	display: inline-block;
	font-size: 14px;
	line-height: 32px;
	color: #666;
	input {
		height: 32px;
		background: #fff;
		border-radius: 5px;
		border: 1px solid #ccc;
	}
	a {
		display: inline-block;
		height: 32px;
		padding: 0 10px;
		color: #fff!important;
		background: #E89354;
		border-radius: 5px;
	}
}

.mapsearch {
	select {
		margin: 0 20px 0 0;
	}
	input {
		display: inline-block;
		width: 200px;
		height: 21px;
		margin: 0 5px 0 0;
		padding: 0 5px;
		font-size: 14px;
		line-height: 21px;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
	a {
		display: inline-block;
		width: 40px;
		height: 21px;
		margin: 0;
		padding: 0;
		color: #fff;
		text-align: center;
		line-height: 21px;
		border-radius: 5.25px;
		border: 0;
		background: #666;
	}
}

.showmap {
	margin: 20px 0 0 0;
	border: 1px solid #ccc;
}

#abgne-tw-tools {
	display: block;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9999;
}

div.search {
	display: block;
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: -300px;
	left: 0;
	z-index: 805;
	p#btn {
		display: block;
		width: 100px;
		height: 24px;
		position: absolute;
		bottom: 300px;
		left: 50px;
		z-index: 9999;
		span {
			display: block;
			width: 100px;
			height: 24px;
			line-height: 24px;
			color: #fff;
			text-align: center;
			border-radius: 10px 10px 0 0;
			background: #333;
		}
	}
	ul.mapbox {
		width: 1000px;
		margin: 0 auto;
		padding: 20px 0;
		overflow: hidden;
	}
}

div.search_box {
	width: 100%;
	background: #eee;
	ul.mapbox li {
		float: left;
		width: 300px;
		height: 262px;
		margin: 0 50px 0 0;
		border: 1px solid #ccc;
		&:last-child {
			margin: 0;
		}
		.map {
			width: 298px;
			height: 260px;
		}
	}
}

.showmapbox {
	margin: 20px auto;
	overflow: hidden;
	ul.mapbox {
		margin: 0 auto;
		overflow: hidden;
		li {
			float: left;
			width: 25%;
			height: 262px;
			margin: 0 0 0 0;
			border: 1px solid #eee;
			&:first-child {
					width: 50%;
					border-right: 0;
					overflow: hidden;
			}
			&:last-child {
					margin: 0;
					border-left: 0;
			}
			.map {
					width: 100%;
					height: 500px;
			}
		}
	}
}

.table {
	width: 100%;
	color: #212529;
	th, td {
		vertical-align: top;
		border-top: 1px solid #dee2e6;
	}
	thead th {
		vertical-align: bottom;
		border-bottom: 2px solid #dee2e6;
	}
	tbody + tbody {
		border-top: 2px solid #dee2e6;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	& > .table-bordered {
		border: 0;
	  }
}

#cnzipcode {
	display: flex;
	select {
		width: 30%;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
	.button {
		&black {
			&.sredo {
					background: url(../images/sicon_redo@2x.png) 18px 50% #666 no-repeat;
					background-size: 20px 20px;
			}
			&.smore {
					background: url(../images/sicon_more@2x.png) 13px 50% #666 no-repeat;
					background-size: 20px 20px;
			}
			&.smap {
					background: url(../images/icon_map_white@2x.png) 18px 50% #333 no-repeat;
					background-size: 20px 20px;
			}
			&.simport {
					background: url(../images/sicon_import@2x.png) 13px 50% #666 no-repeat;
					background-size: 20px 20px;
			}
			&.sback {
					background: url(../images/sicon_back@2x.png) 13px 50% #666 no-repeat;
					background-size: 20px 20px;
			}
			&.sbuy {
					background: url(../images/sicon_buy@2x.png) 13px 50% #666 no-repeat;
					background-size: 20px 20px;
			}
		}
		&gray {
			&.sdelete {
					background: url(../images/sicon_delete@2x.png) 18px 50% #990000 no-repeat;
					background-size: 20px 20px;
			}
		}
		&white {
			&.sedit {
					background: url(../images/sicon_edit2@2x.png) 18px 50% #DCE7FE no-repeat;
					background-size: 20px 20px;
			}
			&.sdelete {
					background: url(../images/sicon_delete2@2x.png) 18px 50% #DCE7FE no-repeat;
					background-size: 20px 20px;
			}
			&.sview {
					background: url(../images/sicon_view2@2x.png) 18px 50% #DCE7FE no-repeat;
					background-size: 20px 20px;
			}
			&.smore {
					background: url(../images/sicon_more2@2x.png) 13px 50% #DCE7FE no-repeat;
					background-size: 20px 20px;
			}
			&.sbuy {
					background: url(../images/sicon_buy@2x.png) 13px 50% #DCE7FE no-repeat;
					background-size: 20px 20px;
			}
		}
	}
	#searchContainer #searchButton.active {
		background: url(../images/sicon_more@2x.png) 13px 50% #49c888 no-repeat;
		background-size: 20px 20px;
	}
	table {
		td.track {
			.icon_track {
					background: url(../images/icon_track@2x.png) no-repeat;
					background-size: 20px 20px;
			}
		}
		&.operator_order {
			td:nth-child(6) .record {
					background: url(../images/icon_list@2x.png) no-repeat;
					background-size: 20px 20px;
			}
		}
		&.card_management {
			td:nth-child(9) .record {
					background: url(../images/icon_list@2x.png) no-repeat;
					background-size: 20px 20px;
			}
			td:nth-child(10) .record {
					background: url(../images/icon_record@2x.png) no-repeat;
					background-size: 20px 20px;
			}
		}
		&.vehicle {
			td:nth-child(10) .map {
					background: url(../images/icon_map@2x.png) no-repeat;
					background-size: 20px 20px;
			}
		}
		&.battery_swap_station {
			td:nth-child(10) .map {
					background: url(../images/icon_map@2x.png) no-repeat;
					background-size: 20px 20px;
			}
			td:nth-child(11) .watch {
					background: url(../images/icon_eye@2x.png) no-repeat;
					background-size: 20px 20px;
			}
		}
		&.log_alarm_online {
			td:nth-child(1) .edit {
					background: url(../images/icon_edit@2x.png) no-repeat;
					background-size: 20px 20px;
			}
		}
		&.battery_swap_station {
			td:nth-child(10) .map {
					background: url(../images/icon_map@2x.png) no-repeat;
					background-size: 20px 20px;
			}
		}
		&.cardinfo {
			td:nth-child(4) .map {
					background: url(../images/icon_map@2x.png) no-repeat;
					background-size: 20px 20px;
			}
		}
	}
}