@charset "UTF-8";
#dashboard {
  position: relative;
  font-family: '微軟正黑體', Arial ,sans-serif;
}

#dashboard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 320px;
  background: -webkit-gradient(linear, left top, right top, from(#74DE9E), to(#7CD1FE));
  background: linear-gradient(to right, #74DE9E, #7CD1FE);
}

#dashboard p {
  font-family: '微軟正黑體', Arial ,sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #6e6e8b;
}

#dashboard a, #dashboard a:hover, #dashboard a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#dashboard .navbar-zone {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
}

#dashboard .navbar {
  padding: 0 0 0 250px;
  background: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#dashboard .navbar.active {
  padding: 0 0 0 80px;
}

#dashboard .navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

#dashboard .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

#dashboard i, #dashboard span {
  display: inline-block;
}

#dashboard #content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#dashboard #content.active {
  padding: 20px;
}

#dashboard #content h3 {
  position: relative;
  margin: 20px 0;
  color: #fff;
  line-height: 36px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#dashboard #content h3 i {
  margin: 0 5px 0 0;
}

#dashboard .container2 {
  width: 100%;
}

#dashboard .card {
  position: relative;
  padding: 30px;
  border-radius: 15px;
  letter-spacing: 1px;
  background: #fff;
}

#dashboard .card i {
  position: absolute;
  top: 30px;
  right: 20px;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  color: #fff;
  border-radius: 25px;
}

#dashboard .card.red i {
  background: #f5365c;
}

#dashboard .card.orange i {
  background: #fb6340;
}

#dashboard .card.blue i {
  background: #11cdef;
}

#dashboard .card.green i {
  background: #79c447;
}

#dashboard .card p {
  line-height: 36px;
  color: #555;
}

#dashboard .card strong {
  display: block;
  font-size: 36px;
  font-weight: normal;
  line-height: 32px;
}

#dashboard .card.red2 {
  background: url(../images/lost.png) no-repeat 30px 50% #ff5454;
}

#dashboard .card2 {
  height: 100px;
  padding: 20px 0 0 72px;
  border-radius: 4px;
  letter-spacing: 1px;
}

#dashboard .card2 p {
  padding: 0 0 0 15px;
  border-left: 1px solid #fff;
  line-height: 24px;
  color: #fff;
}

#dashboard .card2 strong {
  display: block;
  font-size: 36px;
  font-weight: normal;
  line-height: 32px;
}

#dashboard .card2.red {
  background: url(../images/battery.png) no-repeat 15px 50% #ff5454;
}

#dashboard .card2.blue {
  background: url(../images/use.png) no-repeat 15px 50% #67c2ef;
}

#dashboard .card2.orange {
  background: url(../images/card.png) no-repeat 15px 50% #ff9900;
}

#dashboard .card2.green {
  background: url(../images/buy.png) no-repeat 15px 50% #79c447;
}

#dashboard .panel {
  margin: 35px 0 0 0;
  border-radius: 15px;
  border: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dashboard .panel h2 {
  color: #3d3d63;
  font-size: 18px;
}

#dashboard .row h2 {
  height: 60px;
  color: #3d3d63;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

#dashboard .row h2 i {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #4fb8c9;
}

#dashboard .battery-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 140px;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  color: #48b6cf;
  background: url(../images/change.png) no-repeat 50% 50%;
  background-size: 90% 90%;
}

#dashboard .total-kilometers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 140px;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  color: #48b6cf;
  background: url(../images/distance.png) no-repeat 50% 50%;
  background-size: 90% 90%;
}

#dashboard .total-co2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 140px;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  color: #48b6cf;
  background: url(../images/co2.png) no-repeat 50% 50%;
  background-size: 90% 90%;
}

#dashboard .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 140px;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  color: #48b6cf;
  background: url(../images/cash.png) no-repeat 50% 50%;
  background-size: 90% 90%;
}

#dashboard .up {
  color: #d9534f;
}

#dashboard .down {
  color: #5cb85c;
}

#dashboard .container-default {
  margin: 35px 0 0 0;
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#dashboard .container-default h2 {
  margin: 0;
  padding: 0;
}

#dashboard .container-default table {
  width: 100%;
  margin: 0;
}

#dashboard .container-default table td {
  padding: 10px;
}

#dashboard .container-default table td:first-child div {
  width: 150px;
}

#dashboard .container-default table td:nth-child(2) div {
  width: 200px;
}

#dashboard .container-default table td:nth-child(3) div {
  width: 120px;
}

#dashboard .container-default table td:nth-child(4) div {
  width: 320px;
}

#dashboard .container-default table td:nth-child(5) div {
  width: 150px;
}

#dashboard .container-default table td:nth-child(6) div {
  width: 100px;
}

#dashboard .container-default table td:nth-child(7) div {
  width: 100px;
}

#dashboard .container-default table td:nth-child(8) div {
  width: 100px;
}

#dashboard .container-default table td:nth-child(9) div {
  width: 100px;
}

#dashboard .container-default table thead td {
  padding: 5px 0;
  border-bottom: 2px solid #35AC7C;
  text-align: center;
  color: #fff;
  background: #49C888;
}

#dashboard .container-default table tbody td {
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

#dashboard .container-default table tbody td .progress {
  width: 80%;
  height: 10px;
  margin: 0 auto;
}

#dashboard .container-default table tbody tr:last-child td {
  border-bottom: 0;
}

#dashboard .container-default table.other_batter_detail td:nth-child(2) {
  position: relative;
}

#dashboard .container-default table.other_batter_detail td:nth-child(2) .map {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_map.png) no-repeat;
}

#dashboard .chart-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 850px;
  height: 500px;
  padding: 20px 15px 15px 15px;
  margin: 70px auto 30px auto;
  clear: both;
}

#dashboard .placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

#dashboard .placeholder table {
  width: auto;
}

#dashboard .placeholder table .legendLabel {
  padding: 10px 20px 10px 10px;
}

#dashboard footer {
  padding: 20px 0 0 0;
  text-align: center;
}

#canvas-holder {
  display: block !important;
  margin: 0 auto;
  width: 60% !important;
}

@media (max-width: 1200px) {
  #dashboard::before {
    height: 720px;
  }
  #dashboard .card {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 768px) {
  #dashboard a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}
