@charset "UTF-8";
@import url(reset.css);
@import url(tab.css);
html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #555;
  background: #fdf4ec;
}

body#login {
  height: 100%;
  min-height: 100%;
  background: #49c888;
  background: radial-gradient(circle, #93EEAE, #35AC7C);
}

body#login .fancybox-slide--iframe .fancybox-content {
  width: 320px;
  height: 225px;
  margin: 0;
  border-radius: 20px;
}

body#forgot {
  height: 100%;
  min-height: 100%;
  background: #fff;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
          box-shadow: 0 0 0 30px white inset !important;
}

.fancybox-slide--iframe .fancybox-content {
  width: 320px;
  height: 225px;
  margin: 0;
  border-radius: 20px;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.loading .img_label {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 180px;
  margin: -90px 0 0 -150px;
  padding: 40px 0 0 0;
  text-align: center;
  color: #49c888;
  border-radius: 10px;
  background: url(../images/loading.gif) no-repeat white 50% 70%;
  background-size: 220px 145px;
}

.loginbox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 540px;
  margin: -270px 0 0 -180px;
  overflow: hidden;
}

.loginbox p {
  text-align: center;
}

.loginbox p.title {
  margin: 0 0 25px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.loginbox p.title span {
  display: block;
  color: #ffffcc;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.loginbox p img {
  width: 25%;
  max-width: 25%;
  margin: 0 0 10px 0;
}

.loginbox #div_loginUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 0 30px;
  border-radius: 25px;
  background: #fff;
}

.loginbox #div_loginpass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0 0 20px 0;
  padding: 0 30px;
  border-radius: 25px;
  background: #fff;
}

.loginbox #checkvcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 0 30px;
  border-radius: 25px;
  background: #fff;
  overflow: hidden;
}

.loginbox #checkvcode p {
  float: left;
  width: 50%;
}

.loginbox #checkvcode p input.txt {
  width: 100%;
}

.loginbox #checkvcode #checkimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.loginbox #checkvcode #checkimg img {
  width: auto;
  height: 50%;
  margin: 15% 0 0 0;
}

.loginbox #checkvcode #checkimg a {
  margin: 15% 0 0 0;
  color: #999;
}

.loginbox #checkvcode input.txt {
  width: 180px;
}

.loginbox span {
  display: inline-block;
  height: 50px;
  margin: 0 0 5px 0;
  font-size: 1rem;
  color: #aaa;
  line-height: 50px;
}

.loginbox input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
          box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #333;
}

.loginbox input.txt {
  width: 330px;
  height: 50px;
  padding: 0 20px;
  line-height: 21px;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #555 !important;
  border: 0;
  border-radius: 16px;
}

.loginbox .button {
  display: block;
  width: 100%;
  height: 50px;
  margin: 25px auto 15px auto;
  padding: 0;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border: 0;
  border-radius: 25px;
  background: #333;
  cursor: pointer;
}

.loginbox .forgot {
  display: block;
  color: #DCFCDF;
  line-height: 20px;
  text-align: center;
}

.loginbox .forgot:hover {
  color: #fff;
}

.loginbox .forgot:hover span {
  color: #fff;
  border: 2px solid #fff;
}

.loginbox .forgot span {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: #DCFCDF;
  line-height: 120%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #DCFCDF;
}

@media (max-width: 400px) {
  .loginbox {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    margin: 100px auto 0 auto;
    padding: 0 20px;
  }
}

p.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  font-size: .8rem;
  line-height: 24px;
  color: #DCFCDF;
  text-align: center;
}

.logoutbox {
  width: 320px;
  height: 180px;
  padding: 35px 0;
  text-align: center;
  background: #fff;
  overflow: hidden;
}

.logoutbox .button {
  display: block;
  width: 135px;
  height: 36px;
  margin: 45px auto 15px auto;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 36px;
  border-radius: 18px;
  border: 0;
  background: #49c888;
  -webkit-box-shadow: 5px 5px 15px #eee;
          box-shadow: 5px 5px 15px #eee;
}

header {
  position: relative;
  width: 100%;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  background: #49c888;
  z-index: 999;
}

header .topper {
  position: relative;
  height: 50px;
  padding: 10px 35px 10px 65px;
  overflow: hidden;
}

header .topper #button-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

header .topper .logo {
  display: block;
  width: 529px;
  height: 30px;
  background: url(../images/logo.png) no-repeat;
  background-size: 265px 30px;
}

header .topper .login {
  position: absolute;
  right: 20px;
  top: 13px;
  line-height: 24px;
  color: #999;
}

header .topper .login b {
  color: #fff;
  font-weight: normal;
}

header .topper .login a {
  margin: 0 0 0 5px;
  padding: 2px 3px;
  font-size: 12px;
  color: #DCFCDF;
  text-decoration: none;
  border-radius: 3px;
  background: #35AC7C;
}

header .topper .login a:hover {
  color: #fff;
  background: #24906F;
}

#container {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: #fcfcfc;
  overflow: hidden;
}

.wrapper {
  padding-bottom: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#column-left {
  position: absolute;
  top: 0px;
  width: 50px;
  height: 100%;
  padding: 0;
  background-color: #515151;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#column-left.active {
  width: 235px;
  display: block;
}

#column-left ~ .wrapper {
  margin-left: 50px;
}

#column-left ~ .wrapper ~ footer {
  margin-left: 50px;
}

@media (max-width: 767px) {
  #column-left {
    overflow: hidden;
    display: none;
  }
  #column-left ~ .wrapper {
    margin-left: 0;
  }
  #column-left ~ .wrapper ~ footer {
    margin-left: 0;
  }
}

#menu, #menu ul, #menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu {
  margin-bottom: 25px;
}

#menu > li {
  position: relative;
}

#menu li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #515151;
}

#menu li a i {
  font-size: 16px;
}

#menu > li > a {
  color: #c4c4c4;
  font-size: 14px;
  padding-left: 13px;
  border-bottom: 1px solid #585858;
}

#menu > li > a:hover {
  color: #fff;
  background-color: #35AC7C;
}

#menu > li > a > span {
  display: none;
  margin-left: 8px;
}

#menu li li a {
  color: #9d9d9d;
}

#menu li li a:hover {
  color: #FFFFFF;
  background-color: #373737;
}

#menu li li a:hover:before {
  margin-right: 20px;
}

#menu > li.active > a {
  color: #DDDDDD;
  background: #373737;
}

#menu li.active li a {
  color: #C4C4C4;
}

#menu li li.active > a:last-child {
  color: #FFFFFF;
}

#menu li li.active a:last-child:before {
  margin-left: 20px;
  margin-right: 10px;
}

#menu > li > ul {
  position: absolute;
  left: 50px;
  top: 0px;
  width: 240px;
  background-color: #444444;
  visibility: hidden;
}

#menu li ul {
  overflow: hidden;
}

#menu li ul a {
  padding-left: 20px;
}

#menu li ul a i {
  padding: 0 5px 0 0;
}

#menu > li:hover > ul {
  visibility: visible;
}

#menu li li a.parent:after, #column-left.active #menu > li a.parent:after {
  content: "+";
  float: right;
  margin-right: 8px;
}

#menu li li.open > a.parent:after, #column-left.active #menu > li.open > a.parent:after, #column-left.active #menu > li li.open > a.parent:after {
  content: "-";
  float: right;
  margin-right: 8px;
}

#menu li li ul a {
  padding-left: 40px;
}

#menu li li li ul a {
  padding-left: 60px;
}

#menu li li li li ul a {
  padding-left: 80px;
}

@media (min-width: 768px) {
  #column-left.active {
    overflow: auto;
  }
  #column-left.active ~ .wrapper {
    margin-left: 235px;
  }
  #column-left.active ~ .wrapper ~ footer {
    margin-left: 235px;
  }
}

@media (max-width: 767px) {
  #column-left.active ~ .wrapper {
    position: relative;
    left: 235px;
  }
  #column-left.active ~ .wrapper ~ footer {
    position: relative;
    left: 235px;
  }
}

#column-left.active {
  width: 235px;
}

#column-left.active #menu li i {
  font-size: 14px;
}

#column-left.active #menu > li > a > span {
  display: inline;
}

#column-left.active #menu > li > ul {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  visibility: visible;
}

.box {
  position: relative;
  width: 1140px;
  margin: 3% auto;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.box .topper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 20px 0;
}

.box .btitle {
  width: 100%;
  margin: 0;
  padding: 0 0 0 20px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  border-left: 2px solid #49c888;
}

.box .btitle span {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 2px 3px;
  color: #555;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.4rem;
  border: 1px solid #ccc;
}

.box .btitle span.amount {
  margin: 0 5px;
  padding: 3px 8px 3px 8px;
  color: #555;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 8px #eee;
          box-shadow: 3px 3px 8px #eee;
}

.box .btitle span.amount:first-child {
  margin: 0 5px 0 15px;
}

.box .btitle span.amount i {
  font-style: normal;
  font-weight: bold;
  color: #ff6600;
}

.box .btitle span#search_date_range {
  font-size: 1.4rem;
}

.box .btitle + div.section {
  margin: 30px 0 0 0;
}

.box .tablehead {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.box .tablehead::before {
  content: "\f0da";
  margin: 0 10px;
  font-family: 'Font Awesome\ 5 Free';
  color: #49c888;
}

.box .title {
  margin: 20px 0 0 0;
  padding: 0 0 10px 0;
  font-size: 1.8rem;
  color: #ff6600;
  font-weight: bold;
}

.box .topbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.box .topbtn.column {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 10px 0;
}

.box .topbtn .normalsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .topbtn .normalsearch #cnzipcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .topbtn .normalsearch .txt {
  float: left;
  display: block;
  width: 200px;
  height: 32px;
  margin: 0 5px 0 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box .topbtn .normalsearch .clear {
  float: left;
  display: block;
  width: 70px;
  height: 32px;
  margin: 0 5px 0 0;
  padding: 0;
  color: #fff;
  line-height: 21px;
  border-radius: 16px;
  border: 0;
  background: #999;
}

.box .topbtn .normalsearch .search {
  float: left;
  display: block;
  width: 70px;
  height: 32px;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 21px;
  border-radius: 16px;
  border: 0;
  background: #666;
}

.box .topbtn .normalsearch select, .box .topbtn .normalsearch #bss_no {
  float: left;
  height: 21px;
  margin: 0 10px 0 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.box .topbtn .btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.box .topbtn .btnbox .buttoninActive {
  float: none;
}

.box .topbtn .btnbox .buttonnoActive {
  float: none;
}

#searchContainer {
  position: relative;
  display: block;
  width: 110px;
  margin: 0 10px 0 0;
}

#searchContainer #searchButton {
  width: 110px;
  text-decoration: none;
  border-radius: 24px;
  background: #49c888;
}

#searchContainer #searchButton span {
  display: block;
}

#searchContainer #searchButton span i {
  margin: 0 8px 0 0;
}

#searchContainer #searchButton.active i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#searchContainer #searchBox {
  position: absolute;
  top: 35px;
  right: -10px;
  display: none;
  z-index: 999999;
}

#searchContainer #searchBox #searchForm {
  width: 100%;
  height: 100%;
  padding: 7px;
  border: 1px solid #74DE9E;
  background: #DCFCDF;
}

#searchContainer #searchBox #searchForm fieldset2 {
  display: block;
  padding: 20px;
}

#searchContainer #searchBox #searchForm fieldset2#body {
  background: #fff;
  padding: 0;
}

#searchContainer #searchBox #searchForm fieldset2 table {
  width: 470px;
  margin: 0 0 15px 0;
}

#searchContainer #searchBox #searchForm fieldset2 table tr td {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  background: none;
}

#searchContainer #searchBox #searchForm fieldset2 table tr td.date_zone select {
  margin: 0 10px 0 0;
}

#searchContainer #searchBox #searchForm fieldset2 table tr td.td_label_bss_id {
  width: 130px;
}

#searchContainer #searchBox #searchForm fieldset2 table tr td input[type=date] {
  margin: 0 0 10px 0;
}

#searchContainer #searchBox #searchForm fieldset2 table label {
  display: inline-block;
  min-width: 120px;
  height: 24px;
  line-height: 24px;
}

#searchContainer #searchBox #searchForm fieldset2 table .start_end_label {
  margin: 0 10px 10px 0;
  height: 24px;
  line-height: 24px;
}

#searchContainer #searchBox #searchForm fieldset2 table select {
  height: 24px;
  margin: 0;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#searchContainer #searchBox #searchForm fieldset2 table input {
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#searchContainer #searchBox #searchForm fieldset2 table input[type=date] {
  height: 24px;
  line-height: 24px;
}

#searchContainer #searchBox #searchForm fieldset2 .btnzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttoninActive {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 0 0 10px;
  padding: 0;
  text-align: center;
  line-height: 32px;
  color: #fff;
  border-radius: 3px;
  background-color: #3A6FFF;
  cursor: pointer;
}

.buttoninActive:hover {
  color: #fff;
  background-color: #2A55DB;
}

.buttoninActive.bdelete {
  background-color: #FF3A68;
}

.buttonnoActive {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 0 0 10px;
  padding: 0;
  text-align: center;
  line-height: 32px;
  color: #fff;
  border-radius: 3px;
  background: #D7E6FF;
}

.buttonnoActive:hover {
  color: #fff;
}

.buttonnoActive.bdelete {
  background-color: #FFDDD7;
}

.buttonnoActive.smore {
  background: url(../images/sicon_more2.png) 13px 50% #DCE7FE no-repeat;
}

.buttondark {
  display: inline-block;
  width: 130px;
  height: 32px;
  padding: 0;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-radius: 15px;
  background: #333;
  cursor: pointer;
}

.buttondark--thin {
  display: inline-block;
  width: 130px;
  height: 24px;
  margin: 0 5px;
  padding: 0;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 15px;
  background: #333;
  cursor: pointer;
}

.buttondark:hover {
  color: #ffffcc;
}

.buttongreen {
  display: inline-block;
  width: 130px;
  height: 30px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 15px;
  background: #49c888;
  cursor: pointer;
}

.buttongreen--thin {
  display: inline-block;
  width: 130px;
  height: 24px;
  margin: 0 5px;
  padding: 0;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 15px;
  background: #49c888;
  cursor: pointer;
}

.buttongreen:hover {
  color: #ffffcc;
}

table {
  width: 100%;
  margin: 0;
}

table tr:nth-child(odd) td {
  background: #f8f8f8;
}

table tr:hover td {
  background: #feeee1;
}

table th {
  color: #fff;
  font-weight: normal;
  text-align: center;
  background: #333;
}

table th a {
  color: #fff;
}

table td.track {
  position: relative;
}

table td.track .icon_track {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  text-indent: -5000px;
  cursor: pointer;
  background: url(../images/icon_track.png) no-repeat;
}

table.account th:first-child, table.group th:first-child, table.menu th:first-child, table.config th:first-child, table.dealer th:first-child, table.sub_dealer th:first-child, table.battery_swap_station th:first-child, table.battery th:first-child, table.vehicle th:first-child, table.ccb th:first-child, table.operator th:first-child, table.sub_operator th:first-child, table.member th:first-child, table.feedback th:first-child, table.battery_swap_station_group th:first-child {
  width: 40px !important;
}

table.account td:first-child, table.group td:first-child, table.menu td:first-child, table.config td:first-child, table.dealer td:first-child, table.sub_dealer td:first-child, table.battery_swap_station td:first-child, table.battery td:first-child, table.vehicle td:first-child, table.ccb td:first-child, table.operator td:first-child, table.sub_operator td:first-child, table.member td:first-child, table.feedback td:first-child, table.battery_swap_station_group td:first-child {
  width: 40px !important;
  text-align: center;
}

table.log_battery_leave_return td:nth-child(4) {
  position: relative;
  text-align: center;
}

table.battery_swap_station td:nth-child(12) {
  position: relative;
}

table.battery_swap_station td:nth-child(12) .map {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_map.png) no-repeat;
}

table.battery_swap_station td:nth-child(13) {
  position: relative;
}

table.battery_swap_station td:nth-child(13) .watch {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_eye.png) no-repeat;
}

table.battery td:nth-child(8) {
  position: relative;
  text-align: center;
}

table.battery td:nth-child(13) {
  position: relative;
  text-align: center;
}

table.vehicle td:nth-child(10) {
  position: relative;
}

table.vehicle td:nth-child(10) .map {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_map.png) no-repeat;
}

table.cardinfo td:nth-child(4) {
  position: relative;
}

table.cardinfo td:nth-child(4) .map {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_map.png) no-repeat;
}

table.operator td:nth-child(7) {
  color: #49c888;
}

table.operator td.no {
  color: #cc0000;
}

table.sub_operator td:nth-child(8) {
  color: #49c888;
}

table.sub_operator td.no {
  color: #cc0000;
}

table.member td.status {
  color: #49c888;
}

table.member td.no {
  color: #cc0000;
}

table.member td.log {
  position: relative;
  text-align: center;
}

table.member td.record {
  position: relative;
  text-align: center;
}

table.price td {
  height: 28px;
  line-height: 28px;
  text-align: center;
}

table.price td:nth-child(2) a {
  color: #2081b9;
}

table.price td:nth-child(7) {
  color: #49c888;
}

table.price td:nth-child(8) {
  position: relative;
}

table.price td:nth-child(8) .record {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_record.png) no-repeat;
}

table.price td:nth-child(9) {
  position: relative;
}

table.price td:nth-child(9) .money {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_money.png) no-repeat;
}

table.price td.no {
  color: #cc0000;
}

table.battery_swap_track td:nth-child(8) {
  position: relative;
  text-align: center;
}

table.log_alarm_online td:nth-child(1) {
  position: relative;
}

table.log_alarm_online td:nth-child(1) .edit {
  display: block;
  text-align: center;
  color: #666;
}

table.log_battery_warring td:nth-child(1) {
  position: relative;
}

table.log_battery_warring td:nth-child(1) .edit {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_edit.png) no-repeat;
}

table.log_swap_track_warring td:nth-child(1) {
  position: relative;
}

table.log_swap_track_warring td:nth-child(1) .edit {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_edit.png) no-repeat;
}

table.monitor td:nth-child(15) {
  position: relative;
}

table.monitor td:nth-child(15) .watch {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  color: #000;
  text-decoration: none;
}

table.monitor td:nth-child(15) .watch::before {
  content: "\f06e";
  font-family: 'Font Awesome\ 5 Free';
}

table.monitor2 th:nth-child(1) {
  width: 30px;
}

table.monitor2 td:nth-child(1) {
  width: 30px;
}

table.monitor2 td:nth-child(1) .edit {
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/icon_edit.png) no-repeat;
}

table.operator_order td:nth-child(6) {
  position: relative;
}

table.operator_order td:nth-child(6) .record {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_list.png) no-repeat;
}

table.index_operator_order td:nth-child(5) {
  position: relative;
}

table.index_operator_order td:nth-child(5) .record {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_list.png) no-repeat;
}

table.card_management td:nth-child(9) {
  position: relative;
}

table.card_management td:nth-child(9) .record {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_list.png) no-repeat;
}

table.card_management td:nth-child(10) {
  position: relative;
}

table.card_management td:nth-child(10) .record {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(../images/icon_record.png) no-repeat;
}

#panel.table_menu tr:nth-child(odd) td, #panel.table_menu tr:hover td {
  background: none;
}

#panel.table_menu tr:nth-child(odd) td.main, #panel.table_menu tr:nth-child(odd) td#control_label, #panel.table_menu tr:hover td.main, #panel.table_menu tr:hover td#control_label {
  background: #fafad2;
}

#div_access_control.table_menu tr:nth-child(odd) td, #div_access_control.table_menu tr:hover td {
  background: none;
}

#div_access_control.table_menu tr:nth-child(odd) td.main, #div_access_control.table_menu tr:nth-child(odd) td#control_label, #div_access_control.table_menu tr:hover td.main, #div_access_control.table_menu tr:hover td#control_label {
  background: #fafad2;
}

.section {
  margin: 0;
  padding: 0 0 30px 0;
  overflow: visible;
}

.section.container {
  width: 100%;
  padding: 0;
}

.section input.txt {
  width: 150px;
  height: 28px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.section input.txt.long {
  width: 350px;
}

.section input.txt.long2 {
  width: 420px;
}

.section input.txt.short {
  width: 110px;
}

.section input.radio {
  margin: 7px 5px 0 20px;
}

.section input.radio.first {
  margin: 7px 5px 0 1px;
}

.section input.btn {
  width: auto;
  height: 28px;
  margin: 0 0 0 5px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #eee;
}

.section input.chk {
  margin: 0 5px 0 20px;
}

.section input[type="datetime-local"] {
  width: 220px;
  height: 28px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.section select {
  height: 28px;
  margin: 0 5px 0 0;
  padding: 3px 12px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
}

.section:last-child {
  margin: 20px 0 0 0;
  padding: 0;
  border: 0;
}

.section .allbox {
  width: 100%;
}

.section .leftbox {
  float: left;
  width: 50%;
}

.section .leftbox ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #333;
  overflow: visible;
}

.section .leftbox ul li.card {
  height: 280px;
}

.section .leftbox ul li.card p {
  float: left;
}

.section .leftbox ul li.card .notice {
  color: #ff6666;
}

.section .leftbox ul li.line5 {
  height: 142px;
  padding: 0 20px 0 0;
}

.section .leftbox ul li textarea {
  width: 320px;
  height: 142px;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.section .leftbox ul li textarea.small {
  width: 220px;
}

.section .leftbox ul li label {
  float: left;
  display: block;
  width: 225px;
  color: #999;
  overflow: hidden;
}

.section .leftbox ul li label.line5 {
  height: 140px;
}

.section .leftbox ul li label span {
  float: left;
  display: block;
  width: 8px;
  height: 8px;
  margin: 10px 10px 10px 0;
  background: #ccc;
}

.section .leftbox ul li label span.notice {
  float: none;
  display: inline;
  margin: 0;
  padding: 0 0 0 10px;
  color: #ff6666;
  background: none;
}

.section .leftbox ul li span {
  color: #cc0000;
}

.section .leftbox ul li p.reality {
  width: 100%;
}

.section .leftbox ul li p.reality #upload_virtual_map {
  display: inline-block;
  width: 100%;
  max-width: 420px;
}

.section .leftbox ul li p.reality #upload_virtual_map img {
  max-width: 100%;
}

.section .leftbox.edit {
  line-height: 40px;
}

.section .leftbox.edit li {
  height: 40px;
}

.section .leftbox.edit li.auto {
  height: auto !important;
}

.section .leftbox.edit2 {
  line-height: 40px;
}

.section .leftbox.edit2 li {
  height: 80px;
}

.section .leftbox.edit2 li.auto {
  height: auto;
}

.section .leftbox.edit2 li label {
  float: none;
  width: 100%;
}

.section .container-box {
  float: left;
}

.section .container-box ul li {
  position: relative;
  width: 100%;
  margin: 0 0 30px 0;
  color: #333;
  overflow: visible;
}

.section .container-box ul li label {
  position: relative;
  display: block;
  padding: 0 0 0 20px;
  color: #999;
  overflow: hidden;
}

.section .container-box ul li label::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid #FDD755;
  background: #FEEFA4;
}

.section .container-box ul li label.inb {
  float: left;
  width: 140px;
  line-height: 28px;
}

.section .container-box ul li label.inb::before {
  top: 9px;
}

.section .container-box ul li span {
  color: #cc0000;
}

.section .container-box ul li .sol-container {
  margin: 0 0 10px 0;
}

.section .container-box ul li textarea {
  width: 320px;
  height: 142px;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.section .container-box ul li textarea.small {
  width: 220px;
}

.section .container-box span.show {
  display: block;
  width: 80px;
  height: 100px;
  margin: 0 0 10px 0;
  border-radius: 40px;
  background: #49c888;
}

.section .container-box span.show img {
  width: 100%;
}

.section .container-box .radio {
  display: inline;
}

.section .pwdbox {
  float: none;
  width: 365px;
  margin: 0 auto;
}

.section .pwdbox li {
  position: relative;
  height: 32px;
  line-height: 32px;
}

.section .pwdbox li label {
  float: left;
  width: 140px;
}

.section .pwdbox li input {
  float: left;
  width: 225px;
  height: 32px;
}

.section .configbox {
  float: none;
  width: 320px;
  margin: 0 auto;
}

.section .leftbox2 {
  float: left;
  width: 33%;
}

.section .leftbox2.leftbox3 {
  width: 20%;
}

.section .leftbox2 ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #333;
  overflow: visible;
}

.section .leftbox2 ul li label {
  float: left;
  display: block;
  width: 200px;
  color: #999;
  overflow: hidden;
}

.section .leftbox2 ul li label span {
  float: left;
  display: block;
  width: 8px;
  height: 8px;
  margin: 10px 10px 10px 0;
  background: #ccc;
}

.section .leftbox2 ul li label span.notice {
  float: none;
  display: inline;
  margin: 0;
  padding: 0 0 0 10px;
  color: #ff6666;
  background: none;
}

.section .leftbox2 ul li span {
  color: #cc0000;
}

.section .leftbox2.edit {
  line-height: 40px;
}

.section .leftbox2.edit li {
  height: 40px;
}

.section .leftbox2.edit2 {
  line-height: 40px;
}

.section .leftbox2.edit2 li {
  height: 80px;
}

.section .leftbox2.edit2 li.autoh {
  height: auto;
}

.section .leftbox2.edit2 li label {
  float: none;
  width: 100%;
}

.section .rightbox {
  float: left;
  width: 50%;
}

.section .rightbox ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #333;
  overflow: visible;
}

.section .rightbox ul li.card {
  height: 280px;
}

.section .rightbox ul li.card p {
  float: left;
}

.section .rightbox ul li.card .notice {
  color: #ff6666;
}

.section .rightbox ul li label {
  float: left;
  display: block;
  width: 200px;
  color: #999;
  overflow: hidden;
}

.section .rightbox ul li label span {
  float: left;
  display: block;
  width: 8px;
  height: 8px;
  margin: 10px 10px 10px 0;
  background: #ccc;
}

.section .rightbox ul li span {
  color: #cc0000;
}

.section .rightbox ul li a {
  color: #2081b9;
}

.section .rightbox ul li textarea {
  width: 320px;
  height: 142px;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.section .rightbox.edit {
  line-height: 40px;
}

.section .rightbox.edit li {
  height: 40px;
}

.section .rightbox.edit li.line2 {
  height: 80px;
}

.section .rightbox.edit li.line2 label.line2 {
  height: 56px;
}

.section .rightbox.edit li.auto {
  height: auto;
}

.section .rightbox.edit2 {
  line-height: 40px;
}

.section .rightbox.edit2 li {
  height: 80px;
}

.section .rightbox.edit2 li.line1 {
  height: 40px;
}

.section .rightbox.edit2 li.auto {
  height: auto;
}

.section .rightbox.edit2 li label {
  float: none;
  width: 100%;
}

.section .rightbox .order-amount {
  margin: 0 0 10px 0;
  overflow: hidden;
}

.section .rightbox .order-amount li:first-child {
  float: left;
  width: 35%;
  height: auto;
  margin: 0 5% 0 0;
  padding: 3px 10px;
  color: #ad7753;
  font-weight: normal;
  border-radius: 5px;
  background: #fae8c5;
}

.section .rightbox .order-amount li:nth-child(2) {
  float: left;
  width: 35%;
  height: auto;
  margin: 0 5% 0 0;
  padding: 3px 10px;
  color: #ad7753;
  font-weight: normal;
  border-radius: 5px;
  background: #fae8c5;
}

.section .rightbox .order-amount li:nth-child(3) {
  float: left;
  width: 20%;
}

.section .rightbox .order-amount li:nth-child(3) a {
  display: block;
  padding: 3px 10px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  background: #ac7060;
}

.section .rightbox .order-amount li span {
  margin: 0 0 0 10px;
  font-size: 18px;
}

.section .rightbox .order-card td {
  padding: 5px 0;
}

.section .rightbox .order-card td:first-child {
  width: 15%;
  text-align: center;
}

.section .rightbox .order-card td:nth-child(2) {
  width: 40%;
  text-align: center;
}

.section .rightbox .order-card td:nth-child(3) {
  width: 25%;
  text-align: center;
}

.section .rightbox .order-card td:nth-child(3) input {
  text-align: center;
}

.section .rightbox .order-card td:nth-child(3) a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background: #ccc;
}

.section .rightbox .order-card td:nth-child(4) {
  width: 20%;
  text-align: center;
}

.section .rightbox2 {
  float: left;
  width: 33%;
}

.section .rightbox2.rightbox3 {
  width: 45%;
}

.section .rightbox2 ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #333;
  overflow: visible;
}

.section .rightbox2 ul li label {
  float: left;
  display: block;
  width: 200px;
  color: #999;
  overflow: hidden;
}

.section .rightbox2 ul li label span {
  float: left;
  display: block;
  width: 8px;
  height: 8px;
  margin: 10px 10px 10px 0;
  background: #ccc;
}

.section .rightbox2 ul li label span.notice {
  float: none;
  display: inline;
  margin: 0;
  padding: 0 0 0 10px;
  color: #ff6666;
  background: none;
}

.section .rightbox2 ul li span {
  color: #cc0000;
}

.section .rightbox2 ul li a {
  color: #2081b9;
}

.section .rightbox2.edit {
  line-height: 40px;
}

.section .rightbox2.edit li {
  height: 40px;
}

.section .rightbox2.edit2 {
  line-height: 40px;
}

.section .rightbox2.edit2 li {
  height: 80px;
}

.section .rightbox2.edit2 li.line1 {
  height: 40px;
}

.section .rightbox2.edit2 li label {
  float: none;
  width: 100%;
}

.section .rightbox2 span.show {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 0 10px 0;
  border-radius: 40px;
  background: #49c888;
}

.section .rightbox2 span.show img {
  width: 100%;
}

.section .middlebox {
  float: left;
  width: 34%;
}

.section .middlebox.middlebox3 {
  width: 35%;
}

.section .middlebox.col2box {
  width: 67%;
}

.section .middlebox ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #333;
  overflow: visible;
}

.section .middlebox ul li label {
  float: left;
  display: block;
  width: 200px;
  color: #999;
  overflow: hidden;
}

.section .middlebox ul li label span {
  float: left;
  display: block;
  width: 8px;
  height: 8px;
  margin: 10px 10px 10px 0;
  background: #ccc;
}

.section .middlebox ul li label span.notice {
  float: none;
  display: inline;
  margin: 0;
  padding: 0 0 0 10px;
  color: #ff6666;
  background: none;
}

.section .middlebox ul li span {
  color: #cc0000;
}

.section .middlebox ul li a {
  color: #2081b9;
}

.section .middlebox.edit {
  line-height: 40px;
}

.section .middlebox.edit li {
  height: 40px;
}

.section .middlebox.edit2 {
  line-height: 40px;
}

.section .middlebox.edit2 li {
  height: 80px;
}

.section .middlebox.edit2 li label {
  float: none;
  width: 100%;
}

.section .middlebox.edit3 li {
  height: auto;
  line-height: 32px;
}

.section .middlebox.edit3 li label {
  float: none;
  width: 100%;
}

.section button[id=bss_report] {
  width: auto;
  height: 28px;
  margin: 5px 0 0 0;
  padding: 0 20px;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #cc0000;
}

.pagebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  text-align: right;
  background: #fff;
}

.pagebar span {
  display: inline-block;
  width: auto;
  height: 28px;
  margin: 0 5px 0 0;
  padding: 0 8px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  border: 1px solid #49c888;
  border-radius: 16px;
  background: #49c888;
}

.pagebar a {
  display: inline-block;
  width: auto;
  height: 28px;
  margin: 0 5px 0 0;
  padding: 0 8px;
  line-height: 28px;
  text-align: center;
  color: #999;
  border: 1px solid #999;
  border-radius: 16px;
}

.pagebar a.txtp {
  width: auto;
  padding: 0 10px;
  letter-spacing: 0;
  font-size: 12px;
}

.pagebar a:hover {
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
}

.pagebar a:last-child {
  margin: 0;
}

.pagebar input {
  height: 28px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonbar {
  padding: 0;
  text-align: center;
  clear: both;
}

.forgotbox {
  padding: 30px;
}

.forgotbox p {
  margin: 0 0 20px 0;
  font-size: 22px;
  color: #49c888;
}

.forgotbox p i {
  margin: 0 5px 0 0;
}

.forgotbox input {
  width: 100%;
  height: 32px;
  margin: 10px 0 0 0;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgotbox .button {
  display: block;
  width: 120px;
  height: 42px;
  margin: 15px auto 0 auto;
  text-align: center;
  color: #fff;
  line-height: 42px;
  border-radius: 21px;
  background: #333;
}

label.required {
  color: #ff0000 !important;
}

a.backbtn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 80px;
  height: 50px;
  padding: 13px 0;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
}

div.battery_box {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

div.battery_box p.btitle {
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
  font-size: 22px;
  color: #49c888;
  border-left: 10px solid #49c888;
}

div.battery_box p.info {
  padding: 0 0 0 20px;
  color: #999;
  line-height: 21px;
  overflow: hidden;
}

div.battery_box p.info em {
  float: left;
  margin: 0 15px 0 0;
  font-style: normal;
}

div.battery_box p.info span {
  float: left;
  display: block;
  width: 14px;
  height: 14px;
  margin: 3px 3px 0 0;
  border-radius: 3px;
  background: #254EDB;
  background-size: 100% 100%;
}

div.battery_box p.info span.error {
  background: #FF3D32;
}

div.battery_box p.info span.stop {
  background: #333;
}

div.battery_box p.info span.no {
  background: #eee;
}

div.battery_box p.info span.charge {
  background: #ff9f1c;
}

div.battery_box p.last_time {
  position: absolute;
  right: 0px;
  top: -37px;
  color: #beb6aa;
}

div.battery_box .machine {
  display: block;
  width: 297px;
  height: 480px;
  margin: 0 auto;
  padding: 0;
  border: 4px solid #ddd;
  background: #fcfcfc;
}

div.battery_box .machine .pad {
  padding: 20px 20px 10px 20px;
}

div.battery_box .machine .pad p.point {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 auto 15px auto;
  border-radius: 5px;
  background: #666;
}

div.battery_box .machine .pad .screen {
  height: 120px;
  border: 15px solid #222;
}

div.battery_box .machine .battery-track {
  overflow: hidden;
}

div.battery_box .machine .battery-track li:nth-child(odd) {
  float: left;
  width: 45%;
  margin: 0 5% 0 0;
}

div.battery_box .machine .battery-track li:nth-child(even) {
  float: left;
  width: 45%;
  margin: 0 0 0 5%;
}

div.battery_box .machine .battery-track li span {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 0 5px 0;
  padding: 10px 0 0 10px;
  font-size: 16px;
  color: #fff;
  background: #254EDB;
  overflow: hidden;
}

div.battery_box .machine .battery-track li span.error {
  background: #FF3D32;
}

div.battery_box .machine .battery-track li span.charge {
  background: #ff9f1c;
}

div.battery_box .machine .battery-track li span.stop {
  background: #333;
}

div.battery_box .machine .battery-track li span.no {
  background: #eee;
}

div.battery_box .machine .battery-track li button {
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #eee;
}

div.battery_box .machine .footer {
  height: 25px;
  background: #254EDB;
}

.import_box {
  border-radius: 20px;
}

.import_box p {
  margin: 0 0 15px 0;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.4rem;
}

.import_box p span {
  padding: 0 0 0 10px;
  font-size: 14px;
}

.import_box p a {
  color: #49c888;
}

.import_box p strong {
  margin: 0 0 0 10px;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #FF4775;
}

.import_box input[type=date] {
  padding: 5px 10px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.import_box input.txt {
  width: 220px;
  height: 32px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 32px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.import_box input.txt.long {
  width: 350px;
}

.import_box input.txt.short {
  width: 110px;
}

.import_box input.btn {
  width: auto;
  height: 28px;
  margin: 0 0 0 5px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #eee;
}

.import_box .send {
  display: block;
  width: 135px;
  height: 36px;
  margin: 30px auto 0 auto;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 36px;
  border-radius: 18px;
  border: 0;
  background: #49c888;
  -webkit-box-shadow: 5px 5px 15px #eee;
          box-shadow: 5px 5px 15px #eee;
}

.alarmbox {
  padding: 30px;
}

.alarmbox p {
  position: relative;
  margin: 0 0 10px 0;
}

.alarmbox p.title {
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  font-size: 22px;
  color: #49c888;
  border-left: 10px solid #49c888;
}

.alarmbox label {
  display: inline-block;
  width: 135px;
}

.alarmbox select {
  width: 250px;
}

.alarmbox input.txt {
  width: 250px;
  height: 21px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.alarmbox span {
  margin: 0 20px 0 0;
}

.alarmbox .button {
  display: block;
  width: 120px;
  height: 24px;
  margin: 20px auto 0 auto;
  text-align: center;
  color: #fff;
  line-height: 24px;
  border-radius: 21px;
  background: #645454;
}

.ContenedorTabla {
  height: 400px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}

.GridViewScrollHeader th, .GridViewScrollHeader td {
  padding: 5px;
  font-weight: normal;
  white-space: nowrap;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #333;
  color: #999999;
}

.GridViewScrollHeader th div {
  margin: 0 auto;
}

.price div.gridViewScrollHelper {
  margin: 0 auto;
}

#listForm {
  margin: 0;
}

.GridViewScrollItem td {
  padding: 5px;
  white-space: nowrap;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  background-color: #FFFFFF;
  color: #444444;
}

.GridViewScrollItem td a {
  color: #666;
}

.GridViewScrollItem td a:hover {
  color: #444;
}

.GridViewScrollItemFreeze td {
  padding: 5px;
  white-space: nowrap;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  background-color: #FAFAFA;
  color: #444444;
}

.GridViewScrollItemFreeze td a {
  color: #666;
}

.GridViewScrollItemFreeze td a:hover {
  color: #444;
}

.GridViewScrollFooterFreeze td {
  padding: 5px;
  white-space: nowrap;
  border-right: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #F4F4F4;
  color: #444444;
}

.GridViewScrollHeader a {
  color: #fff;
}

.GridViewScrollHeader a:hover {
  color: #ffffcc;
  text-decoration: none;
}

#listTable_Header_Freeze .battery_swap_station, #listTable_Header_Freeze .battery_swap_track, #listTable_Header_Freeze .battery, #listTable_Header_Freeze .vehicle, #listTable_Header_Freeze .ccb, #listTable_Header_Freeze .member, #listTable_Header_Freeze .feedback, #listTable_Header_Freeze .log_operating, #listTable_Header_Freeze .log_driving_info {
  margin: 10px 0 0 0;
}

.map .map_box_3 .citymap {
  display: none;
}

.div_post_name::after {
  content: "、";
}

.div_post_name:last-child::after {
  content: "";
}

.time-section {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  color: #666;
}

.time-section input {
  height: 32px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.time-section a {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  color: #fff !important;
  background: #E89354;
  border-radius: 5px;
}

.mapsearch select {
  margin: 0 20px 0 0;
}

.mapsearch input {
  display: inline-block;
  width: 200px;
  height: 21px;
  margin: 0 5px 0 0;
  padding: 0 5px;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.mapsearch a {
  display: inline-block;
  width: 40px;
  height: 21px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  line-height: 21px;
  border-radius: 5.25px;
  border: 0;
  background: #666;
}

.showmap {
  margin: 20px 0 0 0;
  border: 1px solid #ccc;
}

#abgne-tw-tools {
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

div.search {
  display: block;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: -300px;
  left: 0;
  z-index: 805;
}

div.search p#btn {
  display: block;
  width: 100px;
  height: 24px;
  position: absolute;
  bottom: 300px;
  left: 50px;
  z-index: 9999;
}

div.search p#btn span {
  display: block;
  width: 100px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background: #333;
}

div.search ul.mapbox {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
}

div.search_box {
  width: 100%;
  background: #eee;
}

div.search_box ul.mapbox li {
  float: left;
  width: 300px;
  height: 262px;
  margin: 0 50px 0 0;
  border: 1px solid #ccc;
}

div.search_box ul.mapbox li:last-child {
  margin: 0;
}

div.search_box ul.mapbox li .map {
  width: 298px;
  height: 260px;
}

.showmapbox {
  margin: 20px auto;
  overflow: hidden;
}

.showmapbox ul.mapbox {
  margin: 0 auto;
  overflow: hidden;
}

.showmapbox ul.mapbox li {
  float: left;
  width: 25%;
  height: 262px;
  margin: 0 0 0 0;
  border: 1px solid #eee;
}

.showmapbox ul.mapbox li:first-child {
  width: 50%;
  border-right: 0;
  overflow: hidden;
}

.showmapbox ul.mapbox li:last-child {
  margin: 0;
  border-left: 0;
}

.showmapbox ul.mapbox li .map {
  width: 100%;
  height: 500px;
}

.table {
  width: 100%;
  color: #212529;
}

.table th, .table td {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

#cnzipcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cnzipcode select {
  width: 30%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
  .buttonblack.sredo {
    background: url(../images/sicon_redo@2x.png) 18px 50% #666 no-repeat;
    background-size: 20px 20px;
  }
  .buttonblack.smore {
    background: url(../images/sicon_more@2x.png) 13px 50% #666 no-repeat;
    background-size: 20px 20px;
  }
  .buttonblack.smap {
    background: url(../images/icon_map_white@2x.png) 18px 50% #333 no-repeat;
    background-size: 20px 20px;
  }
  .buttonblack.simport {
    background: url(../images/sicon_import@2x.png) 13px 50% #666 no-repeat;
    background-size: 20px 20px;
  }
  .buttonblack.sback {
    background: url(../images/sicon_back@2x.png) 13px 50% #666 no-repeat;
    background-size: 20px 20px;
  }
  .buttonblack.sbuy {
    background: url(../images/sicon_buy@2x.png) 13px 50% #666 no-repeat;
    background-size: 20px 20px;
  }
  .buttongray.sdelete {
    background: url(../images/sicon_delete@2x.png) 18px 50% #990000 no-repeat;
    background-size: 20px 20px;
  }
  .buttonwhite.sedit {
    background: url(../images/sicon_edit2@2x.png) 18px 50% #DCE7FE no-repeat;
    background-size: 20px 20px;
  }
  .buttonwhite.sdelete {
    background: url(../images/sicon_delete2@2x.png) 18px 50% #DCE7FE no-repeat;
    background-size: 20px 20px;
  }
  .buttonwhite.sview {
    background: url(../images/sicon_view2@2x.png) 18px 50% #DCE7FE no-repeat;
    background-size: 20px 20px;
  }
  .buttonwhite.smore {
    background: url(../images/sicon_more2@2x.png) 13px 50% #DCE7FE no-repeat;
    background-size: 20px 20px;
  }
  .buttonwhite.sbuy {
    background: url(../images/sicon_buy@2x.png) 13px 50% #DCE7FE no-repeat;
    background-size: 20px 20px;
  }
  #searchContainer #searchButton.active {
    background: url(../images/sicon_more@2x.png) 13px 50% #49c888 no-repeat;
    background-size: 20px 20px;
  }
  table td.track .icon_track {
    background: url(../images/icon_track@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.operator_order td:nth-child(6) .record {
    background: url(../images/icon_list@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.card_management td:nth-child(9) .record {
    background: url(../images/icon_list@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.card_management td:nth-child(10) .record {
    background: url(../images/icon_record@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.vehicle td:nth-child(10) .map {
    background: url(../images/icon_map@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.battery_swap_station td:nth-child(10) .map {
    background: url(../images/icon_map@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.battery_swap_station td:nth-child(11) .watch {
    background: url(../images/icon_eye@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.log_alarm_online td:nth-child(1) .edit {
    background: url(../images/icon_edit@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.battery_swap_station td:nth-child(10) .map {
    background: url(../images/icon_map@2x.png) no-repeat;
    background-size: 20px 20px;
  }
  table.cardinfo td:nth-child(4) .map {
    background: url(../images/icon_map@2x.png) no-repeat;
    background-size: 20px 20px;
  }
}
.section input.kr-220 {
  width: 220px;
}