ul.tabs {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #ccc;
}
ul.tabs li {
  float: left;
  height: 30px;
  line-height: 30px;
  position: relative;
  border-left: none;
}
ul.tabs li a {
  display: block;
  padding: 0 20px;
  color: #777;
  border: 1px solid #fff;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ccc;
  background: #ccc;
  text-decoration: none;
}
ul.tabs li a:hover {
  background: #ccc;
}
ul.tabs li.on a {
  color: #fff;
  border-bottom: 1px solid #ed6d00;
  background: #ed6d00;
}

.tabbox {
  clear: left;
  width: 100%;
  margin: 10px 0;
}
.tabbox div.tab_container {
  clear: left;
  width: 100%;
  border-top: none;
  background: #fff;
}
.tabbox div.tab_container .tab_content {
  padding: 0 0 0 20px;
}
