@page {
  margin: 5px 25px 0px 10px;
}
#div_body{
	position: relative;
	/*height: 1250px;*/
}
table { 
  border:0; 
  border-collapse: collapse;
  width:900px; 
} 
.th_title{ 
	border:3px solid #000; 
}
.th_title_detail{ 
	border:1px solid #000; 
}
.table_detail{
	border-left:3px solid #000; 
	border-right:3px solid #000; 
	border-bottom:3px solid #000; 
	/*height: 460px;*/
}
.th_label{
	width: 50px;
}
.th_title th{ 
	border-right:1px solid #000; 
}
.th_data{
	width: 100px;
	padding-left: 5px;
}
.th_data2{
	width: 150px;
}

.th_title_detail td{ 
	height: 20px;
	border-right:1px solid #000; 
    padding-left: 5px;
    padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#title{
	/*text-align: center;*/
	margin-top: 15px;
	width: 900px;
}
#per_no{
	width: 200px;
	margin-top: 40px;
	margin-right: 180px;
	font-size: 16px;
	text-align: left;
}
.td_left{
	text-align: left;
}
.td_right{
	text-align: right;
}
.td_center{
	text-align: center;
}
.td_label{
	width: 70px;
	text-align: right;
}
.td_label2{
	width: 350px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}
.td_btn_line{
	border-bottom:2px solid #000; 
	width: 100px;
}
.td_btn_line2{
	margin-top: 100px;
	border-bottom:2px solid #000; 
	width: 300px;
}
#sign{
	margin-top: 45px;
	width: 900px;
	margin-bottom: 0px;
}

#paytxt{
	width: 900px;
	margin-bottom: 0px;
}

#remarktxt{
	width: 900px;
	margin-bottom: 10px;
	margin-top: 30px;
}
#remarktxt .pr_label{
	/*padding-left: 30px;*/
}
#request{
	width: 900px;
}
.display_inline{
	display: inline-block;
}
.select_size{
	font-size: 30px;
}

#div_page_logo{
	width: 280px;
	float: right;
}
#page_logo{
	width: 60px;
}
#label_title{
	margin-top:30px;
	margin-left:400px;
	font-size: 26px;
	font-weight: bold;
}
.display_inline{
	display: inline-block;
}
.page_login_font{
	vertical-align: top;
	color: #939393;
	font-weight: bold;
	text-align: left;
}
#report_ver{
	position: absolute;
	/*top: 1200px;*/
	width: 900px;
	text-align: right;
}
.btm_logo{
	font-size: 12px;
}
.th_title_detail .td_total{
    padding-right: 210px;
}
.td_pr{
	padding-left: 80px;
}
.pr_label{
	text-align: left;
	font-weight: bold;
}
#footer{  
	position: fixed; 
	width: 100%;  
	bottom: 0; 
	z-index: 1; 
	/*background: #dcdcdc; */
	text-align: center; 
	margin-left: -10px; 
}
#footer input{
	font-size: 30px;
}
.td_label_sign_5{
	width: 40px;
}
#main_table th{
	padding-bottom: 5px;
	letter-spacing: 2px;
}
.table_detail th{
	height: 30px;
}
.table_detail .th_title_detail{
	height: 50px;
}
.table_detail .tr_blank{
	height: 35px;
}
.th_data, .td_pr{
	letter-spacing: 2px;
}
#main_table{
	margin-top: 30px;
}
